<div id="block" class="modal fade " role="dialog">
  <div class="modal-dialog"> 
    <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">無法使用</h4>
        </div>
        <div class="modal-body">
          時間有誤，無法使用           
        </div>
    </div>
  </div>
</div>
<div id="ipblock" class="modal fade " role="dialog">
  <div class="modal-dialog"> 
    <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">無法使用</h4>
        </div>
        <div class="modal-body">
          IP錯誤無法打卡
        </div>
    </div>
  </div>
</div>
