
<div style="width: 470px;display: inline-block;text-align: center;/* margin: 20px 5px 20px 20px; */padding: 50px 0 0 0;/* border:1px solid black; */height: 245px;vertical-align: top;font-family: '微軟正黑體';background-color: #ffffff;">
	<div style="display: inline-block;vertical-align: top;width: 60%;text-align: left">
		<img src="../../images/logo.png" style="width: 100%;">
		<p style="padding: 0 0 0 40px;letter-spacing: 5px;">
			<input type="text" value="" style="border:none;font-family:'微軟正黑體';font-weight: bolder;letter-spacing: 5px;font-size:22px;" class="default_templet">
			<span class="default_none" style="font-size:22px;">兒童發展中心中心</span>
		</p>
		<p style="padding: 0 0 0 40px;letter-spacing: 5px;">
			<span style="font-size: 14px;letter-spacing: 1px;">
				<input type="text" value="" style="border:none;font-weight: bolder;font-size: 17px;font-family: '微軟正黑體';width: 100px;letter-spacing: 1px;" class="default_templet">
				<span class="default_none" style="border:none;font-size: 17px;font-family: '微軟正黑體';letter-spacing: 1px;">社工師</span>
			</span>
			<span style="font-size: 22px;font-weight: bolder;letter-spacing: 10px;margin: 0;vertical-align: top;float: right;">
			<span class="default_none" style="margin:0 0 0 30px;vertical-align: top;">林依晨</span>
			</span>
		</p>
	</div>
	<div style="display: inline-block;width: 19%;vertical-align: top;padding: 20px 0px 19px 15px;height: 167px;">
	<img src="../../images/people.jpg" style="max-height: 165px;border-radius: 10px;max-width: 100%;">

	</div>
	<div style="width: 100%;text-align: right;height: 35px;background-color: #E26F69;color:white;">
		<p style="font-size: 12px;width: 80%;letter-spacing: 1px;text-align: right;padding: 10px;vertical-align: center;margin: 5px 0 0 0;"> <span class="default_none">00001</span></p>
	</div>
</div>

