<div id="manager" class="modal fade" role="dialog">
  <div class="modal-dialog"> 
    <div class="modal-content">
      <form role="form">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">管理功能</h4>
        </div>
        <div class="modal-body">
            <div class="jumbotron bg-dialog">
              <h1 onclick="repunch()">立即補傳打卡資料</h1>
            </div>
            <div class="jumbotron bg-dialog" id="fullscreen">
              <h1>鎖定螢幕</h1>
            </div>
            <div class="jumbotron bg-dialog" id="ip_setting">
              <h1>設定IP</h1>
            </div>           
             <div class="jumbotron bg-dialog" id="gps_setting">
              <h1>綁定GPS</h1>
            </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div id="ip_setting_div" class="modal fade" role="dialog">
  <div class="modal-dialog"> 
    <div class="modal-content">
      <form role="form">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">設定IP</h4>
        </div>
        <div class="modal-msg">*請選擇要綁定的單位<p></p></div>
        <div class="modal-body ip_list"> </div>
      </form>
    </div>
  </div>
</div>

<div id="gps_setting_div" class="modal fade" role="dialog">
    <div class="modal-dialog"> 
      <div class="modal-content">
        <form role="form">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">設定GPS</h4>
          </div>
          <div class="modal-msg">*請選擇要綁定的單位<p id="local"></p></div>
          <div class="modal-body gps_list"></div>
        </form>
      </div>
    </div>
  </div>
