<div id="valid" class="modal fade" role="dialog">
  <div class="modal-dialog"> 
    <div class="modal-content">
      <form role="form">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">管理身份驗證</h4>
        </div>
        <div class="modal-body">
            <div class="panel panel-default">
              <div class="panel-body">
               <div class="form-group">
                  <label class="col-sm-3 control-label lab-empID">卡號：</label>
                  <div class="col-sm-9">
                    <input type="password" class="form-control txt-empID-2" id="empID2" onkeypress="return manager_test(event);" autocomplete="off"/>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
