@charset "utf-8";
/*	廠商	*/
.com-media{ 
    background:#fff;
    border:1px solid #ccc;   padding:10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
    transition: 0.3s;
}
.pd-pic	{	height:300px;	background:#fff;}
.pd-pic	>.media-object{	margin:50px 10px 50px 20px;}
.btn-com{	
	background: #a00214;
    color: #ffffff;
    padding: 12px 16px;
    border: 1px solid;
}
.com-menu-title{
    padding: 5px;
    color: #000000;
    border: 2px solid #bbb;
    text-align: center;
    width: 140px;
    font-weight: bold;
    font-size: 20px;
    margin: 20px;
}
.com-pd-thumb{	width:23%;}
.com-pd-thumb>img {	height:150px;	cursor: pointer;	margin-top: 10px;}
.com-pd-thumb ul{	list-style: none;padding:5px;}
.com-pd-thumb .caption {	text-align: left;	font-size:16px;		margin-bottom: 35px; }
.com-pd-thumb .pd-thumb-title{	
	color: #666666;
    font-weight: bold;
    font-size: 22px;
    margin-top: 6px;
  }
.com-pd-thumb .pd-desc{	}
.com-pd-thumb .pd-btn-view{	}

.pd-list-page> li>a, .pagination>li>span{	color:#666; font-size:20px;}
.pd-list-page> li>a:hover{	
	color: #fff;
    background-color: #a00214;
}
/*  行動裝置    */
@media (max-width:768px) {
  .com-pd-thumb{  width:46%;}
}
