@charset "utf-8";
/* CSS Document */
.page-content input {
	font-size:12px;
	margin-bottom:0;
	width: unset;
}
.page-content textarea {
	font-size:12px;
	margin-bottom:0;
	width: unset;
}
.page-content select {
	width: unset;
	margin-bottom: unset;
}

.page-content table { 
	border-collapse: unset;
}

.ui-datepicker {
	display:none;
}
