@charset "utf-8";
/* CSS Document */
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: #666;
}
.sideBar { background-color: #666; }
.headBar {
	background-image: url(default/bg.gif);
	background-repeat: repeat-x;
}
.headTxt {
	font-family: "微軟正黑體", Verdana;
	font-size: 16px;
	color: #333;
	padding-bottom: 10px;
}
.spera {height: 2px;}
.main {	line-height: 1.5em;}
.main ul { margin-top:0 }

.pageTitleBig {	font-family: "微軟正黑體", Verdana;	font-size: 20px;font-weight: bold;}
.pageTitle { font-family: "微軟正黑體", Verdana;	font-size: 18px;	font-weight: bold; padding-bottom: 12px;}

.formTx {	font-family: "微軟正黑體", Verdana;	font-size: 12px;}
.formTxS { font-size:smaller}

.panTitle {
	font-family: "微軟正黑體", Verdana;
	font-size: 18px;
	font-weight: bold;
}
.panTitleSmall {
	font-family: "微軟正黑體", Verdana;
	font-size: 15px;
	font-weight: bold;
}
.panText {
	font-family: "微軟正黑體", Verdana;
	font-size: 14px;
}
.panTextSmall {
	font-family: "微軟正黑體", Verdana;
	font-size: 12px;
	line-height: 1.5em;
}

.mainTable {
	background-color: #fff;
}
.noticeA { color:#00F; font-weight:bold }
.noticeB { color:#C00; font-weight:bold; font-size:14px }
.noticeC { color:#080; font-weight:bold; font-size:14px }

.sBtn	{
	height: 18pt;
	background-color: #CCCCCC;
	padding-top: 2px;
	padding-right: 2px;
	padding-bottom: 1px;
	padding-left: 2px;
	border-top: 1px solid #D2E1EE;
	border-right: 1px solid #173048;
	border-bottom: 1px solid #173048;
	border-left: 1px solid #D2E1EE;
	text-decoration:none;
	cursor:pointer;
}