@charset "utf-8";
/* CSS Document */
body{	font-family: "微軟正黑體"; }
#detail{	background:#ffffff; border-radius:4px;padding:1px;position:fixed;left:50%;top:50%; margin-top:-150px; margin-left:-300px;display: none; border:2px solid #333333;}
.fancytable{	border:1px solid #666; width:360px; border-collapse:collapse; scroll:auto;background-color: #ffffff}
.fancytable td{ border:1px solid #666;text-align:center; font-size: 12px;	padding:2px;}
.fancytable2{	border:1px solid #666; width:400px; border-collapse:collapse; scroll:auto;background-color: #ffffff}
.fancytable2 td{ text-align:center; border-right:1px solid #666;font-size: 12px;	padding:2px;}
.tip{	color:#cc0000;	font-weight: bold; font-size: 12px;}
.d_container{	max-height: 300px; overflow: auto;}
.title{	background: #333333;color:#ffffff;}
.title td{padding:2px;}
.tb-container{	min-width:720px; border-spacing: 1px; }
.btn{cursor: pointer;}
.del{width:25px;float: right; cursor: pointer;}
.sub-title{	background: #dedede; font-weight: bold;}
.title2{ background: #C1392B;	color:#ffffff; }
.fancytable2 .sub-title{	border:1px solid #333333;}
.fancytable2 .title2{	border:1px solid #666;}
.sumbg{	background: #F39C11;}