@charset "utf-8";
/* CSS Document */
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}
body{	background-color: #ffffff;	font-family:Verdana, Geneva, sans-serif,"微軟正黑體";	font-size: 16px; overflow: hidden;}
a{  color:#fff;}
a:link {	text-decoration: none;	color:#fff;}
a:hover{    text-decoration: none;	color:#fff;	border:0px;}
button:focus { outline:0 !important;   font-size:16px;}
.top-bg{  background: #BE0A09;  padding-top:4px;}
.btn-white{ background: #ffffff;  color:#cc0000;font-weight: bold;  height:50px;  font-size:20px;}
.btn-white:focus{ font-size:20px; background: #ffffff;  color:#cc0000;}
.logo{  height: 70px;}
.navbar-default{  height: 58px; margin-top:0px; background: #BE0A09;  -webkit-box-shadow:none; box-shadow:none; border:0px;}
.navbar-brand{  padding-top:0px;}
.navbar-default .navbar-collapse, .navbar-default .navbar-form{ padding-top:2px;  }
.header{
  margin: 0 auto;
  text-align: center;
  font-size: 30px;
  color: #ffffff;
  position: absolute;
  top: 25%;
  left: 50%;
}
.main{  margin-top: 20px;}
.footer{  margin-top:10px;  background: #BE0A09;  color:#ffffff;  padding-top:6px;}
.s_title{ font-weight: bold; color:red; display: none;}
.s_title2{ font-weight: bold; color:red; text-align: left;font-size: 50px;color:white;  left:5px;}
.jumbotron .h1, .jumbotron h1 {    font-size:60px;  font-weight: bold;  color:#ffffff;}
.container .jumbotron, .container-fluid .jumbotron{  margin-bottom: 10px;}
.s_empID{ font-size:30px;}
.emp {  padding-bottom: 20px; font-size: 36px;}
.panel-title{ font-size: 20px;  }
.panel-footer{  text-align: center; vertical-align: middle; padding-top:15px; padding-bottom: 15px; border-top:0px;}
.btn-success{ width:180px;  height:80px; font-size:32px;  margin-right:15px;}
.btn-success:focus { font-size:32px;  transform:scale(1.1);}
.btn-info{ width:180px;  height:80px; font-size:32px;margin-right:8px;}
.btn-info:focus { font-size:32px; transform:scale(1.1);}
.btn-warning{ width:180px;  height:80px; font-size:32px;margin-right:15px;}
.btn-warning:focus { 
  font-size:32px;  
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Chrome, Safari, Opera */
  transform: scale(1.1);
}
.btn-danger{ width:180px;  height:80px; font-size:32px;margin-right:4px;}
.btn-danger:focus { 
  font-size:32px;  
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Chrome, Safari, Opera */
  transform: scale(1.1);
}
 /* 時間列的bg  --start */
.bg-success{ background: #58B258; }
.bg-info{ background: #55BEDD;}
.bg-warning{ background: #EFA843;}
.bg-danger{ background: #D64F4B;}
/* 時間列的bg  ---end */
.modal-header{  background:#BE0A09; color:#ffffff;  }
.modal-title{ font-size: 20px;  }
.jumbotron {  text-align: center;}
.modal-msg { padding: 10px 0 0 15px;color: red; }
.modal-body .bg-dialog {    background:#999999; cursor: pointer; padding-top:25px;  padding-bottom: 25px; }
.modal-body .jumbotron h1{  font-size: 36px;}
.bg-empID{   padding: 20px 0px 6px 0px}
.lab-empID{ font-size:30px;}
.txt-empID{  background-color:#EEEEEE;  border: 0;
    box-shadow: none; font-size:18px;}
.txt-empID-2{ margin-top:6px;}   
.form-empID{  margin-bottom: 0px;} 
.alert-info{text-align: center;  padding:6px; display: none;  margin-bottom: 0px;}
.form-horizontal .control-label{  padding-top:0px;}
.btn-group{
  background: #ffffff;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 30px;
}
.now_date{
  font-size: 50px;
  color: #ffffff;
  font-weight: bold;
}
.error{
  color: red;
  font-size: 20px;
  display: none;
}
.container .jumbotron, .container-fluid .jumbotron{ padding-left: 30px; padding-right: 30px;}

.punch_msg{
  font-size: 50px;
  color: #ffffff;
  font-weight: bold;
  display: none;
}

.versionerror{
  display: none;
  text-align: center;
}


/*	行動裝置	*/
/*  iPad in portrait & landscape */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  { 

  .logo{  margin-top:10px;height: 50px;}
  .btn-white{ height:40px;  font-size:16px;}
  .navbar-default .navbar-collapse, .navbar-default .navbar-form{ padding-top: 5px;}
}

/*  iPad in portrait  */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) { 
  .logo{  margin-top:0px;}
  .jumbotron .h1, .jumbotron h1 {
      font-size: 48px;
  }
  .btn-success{ width:90px;  height:80px; font-size:25px;}
  .btn-info{ width:80px;  height:80px; font-size:25px;}
  .btn-warning{ width:90px;  height:80px; font-size:25px;}
  .navbar-default .navbar-collapse, .navbar-default .navbar-form{ padding-top: 0px;}
}
/*  iPad in landscape */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) { 
  .jumbotron .h1, .jumbotron h1 {
      font-size: 56px;
  }
/*
  .btn-success{ width:100px;  height:80px; font-size:30px;}
  .btn-info{ width:100px;  height:80px; font-size:30px;}
  .btn-warning{ width:100px;  height:80px; font-size:30px;}*/
}


