<style type="text/css">
  .oddTr td:first-child {
     border-bottom: solid 1px #aaa;
  }
  .oddTr td:last-child {
     border-bottom: solid 1px #aaa;
  }
  .evenTr td{
      border-bottom: solid 1px #aaa;
  }
</style>
<h3 style="margin-bottom: 10px;">經費預算-新增</h3>
<table id="newTable" width="100%" border="0" cellpadding="4" cellspacing="0">
  <tr class="oddTr" data-one-tr="1">
    <td rowspan="2">1.</td>
    <td bgcolor="#EEEEEE">子計畫</td>
    <td>{#fid[]}{#sid[]}{#_sid[]}</td>
    <!--<td bgcolor="#EEEEEE">名稱</td>
    <td>{#title[]}</td>-->
    <td bgcolor="#EEEEEE">預編科目</td>
    <td>{#subject[]}</td>
    <td rowspan="2"><a href="javascript:void(0)" onclick="addTr()">增加</a></td>
  </tr>
  <tr class="evenTr" data-two-tr="1">
    <td bgcolor="#EEEEEE">金額</td>
    <td>{#amount[]}</td>
    <td bgcolor="#EEEEEE">備註</td>
    <td colspan="">{#notes[]}</td>
  </tr>
 
 <tr>
    <td colspan="16" align="center" bgcolor="#999999">
      <input type="submit" id="Submit" value="送出" />
      <input type="reset"  id="Reset" value="重設" />
      <input type="button" value="取消" onclick="window.close();" />
    </td>
  </tr>
</table>

<script type="text/javascript">
var newTr = [];
$(function(){
  if($('#newTable').length == 1) {
    newTr.push('<tr class="oddTr" data-one-tr="1">');
    newTr.push($('[data-one-tr="1"]').html());
    newTr.push('</tr>');
    newTr.push('<tr class="evenTr" data-two-tr="1">');
    newTr.push($('[data-two-tr="1"]').html());
    newTr.push('</tr>');
    newTr = newTr.join('');
  }
})

function addTr() {
  var k = parseInt($('[data-one-tr]:last').attr('data-one-tr')) + 1;
  addNewTr = newTr.replace(/data-one-tr="1"/,'data-one-tr="'+k+'"');
  addNewTr = addNewTr.replace(/<td rowspan="2">1/,'<td rowspan="2">'+k);
  addNewTr = addNewTr.replace(/data-two-tr="1"/,'data-two-tr="'+k+'"');
  $('[data-two-tr]:last').after(addNewTr);
  $('[data-one-tr] td:last').html('<a href="javascript:void(0)" onclick="addTr()">增加</a> / <a style="color:red;" href="javascript:void(0)" onclick="deleteTr('+k+')">刪除</a>');
}

function deleteTr(k) {
  $('[data-one-tr="'+k+'"]').remove();
  $('[data-two-tr="'+k+'"]').remove();
}
</script>
