
<h3 style="margin-bottom: 10px;">經費預算-修改</h3>
<table id="newTable" width="100%" border="0" cellpadding="4" cellspacing="0">
  <tr class="oddTr" data-one-tr="1">
    <td rowspan="2">{#id}.</td>
    <td bgcolor="#EEEEEE">子計畫</td>
    <td>{#fid}{#sid}</td>
    <!--<td bgcolor="#EEEEEE">名稱</td>
    <td>{#title}</td>-->
    <td bgcolor="#EEEEEE">預編科目</td>
    <td>{#subject}</td>
  </tr>
  <tr class="evenTr" data-two-tr="1">
    <td bgcolor="#EEEEEE">金額</td>
    <td>{#amount}</td>
    <td bgcolor="#EEEEEE">備註</td>
    <td colspan="">{#notes}</td>
  </tr>
 
 <tr>
    <td colspan="16" align="center" bgcolor="#999999">
      <input type="submit" id="Submit" value="送出" />
      <input type="reset" id="Reset" value="重設" />
      <input type="button" value="取消" onclick="window.close();" />
    </td>
  </tr>
</table>

