@charset "utf-8";
.onOver {background-color: #FFFFCC;}
.onSel {background-color:#FFCCFF;}
.onSel2 {background-color:#FF99FF;}

.sText	{
	font-size: 12px;
	font-family: Arial;
}

.sBtn2	{
	FONT-FAMILY: "新細明體", Verdana;
	FONT-SIZE: 12px;
	HEIGHT: 18pt;
	color: #FFFFFF;
	background-color: #00264D;
	padding-top: 2px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	border-top: 1px solid #D2E1EE;
	border-right: 1px solid #173048;
	border-bottom: 1px solid #173048;
	border-left: 1px solid #D2E1EE;
}

.sBtn	{
	FONT-FAMILY: "新細明體", Verdana;
	FONT-SIZE: 12px;
	HEIGHT: 18pt;
	color: #FFFFFF;
	background-color: #275078;
	width: 60px;
	padding-top: 2px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	border-top: 1px solid #D2E1EE;
	border-right: 1px solid #173048;
	border-bottom: 1px solid #173048;
	border-left: 1px solid #D2E1EE;
	letter-spacing: 5px;
}
.suBtn {
	FONT-FAMILY: "新細明體", Verdana;
	FONT-SIZE: 12px;
	HEIGHT: 18pt;
	color: #FFFFFF;
	background-color: #666666;
	width: 60px;
	padding-top: 2px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	border-top: 1px solid #D2E1EE;
	border-right: 1px solid #173048;
	border-bottom: 1px solid #173048;
	border-left: 1px solid #D2E1EE;
	letter-spacing: 5px;
	disable: expression(this.disabled=1);
}

.head {
	font-family: "Verdana", "細明體";
	font-size: 10pt;
	text-decoration: none;
}

.head:link {	color:#FFFFFF;	text-decoration: none;}
.head:hover	{	color:#FFFF00;	text-decoration: none;}
.head:visited	{	color:#00FFFF;	text-decoration: none;}

.sTable {
	font-family: Arial;
	font-size: 12px;
	background-color: #DFEDFD;
}
.headTX {
	font-family: "標楷體";
	font-size: 24px;
	font-weight: normal;
	color: #003A57;
}
.tblHD {
	color: #FFFFFF;
	background-color: #214467;
	font-size: 13px;
	border: 1px solid #214467;
	font-weight: bold;
	line-height: 21px;
}
.bulDir {
	color: #FFFF00;
}
.bulSrchMD {
	color: #FFCC00;
}
.pagebtn {
	font-family: Arial;
	font-size: 12px;
	height: 18pt;
	padding-top: 2px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
body {
	margin: 0px;
}

.sTable td {word-break:break-all;word-wrap:break-word}