<table id="newTable" width="100%" border="0" cellpadding="4" cellspacing="0">
  <tr class="oddTr" data-one-tr="1">
    <td rowspan="3">{#id}{#fid}.</td>
    <td bgcolor="#EEEEEE">子計畫</td>
    <td>{#sid}</td>
    <td bgcolor="#EEEEEE">員工編號</td>
    <td>{#empID}<br>{#noEmp}{#_noEmp}新聘或留停</td>
    <td bgcolor="#EEEEEE">職銜</td>
    <td>{#jobID}</td>
   
  </tr>
  <tr data-two-tr="1">
    <td bgcolor="#EEEEEE">人員使用百分比</td>
    <td>{#rate}</td>
    <td bgcolor="#EEEEEE">開始日期</td>
    <td>{#bDate}</td>
    <td bgcolor="#EEEEEE">結束日期</td>
    <td>{#eDate}</td>
  </tr>
 
  <tr class="evenTr" data-three-tr="1">
    <td bgcolor="#EEEEEE">金額</td>
    <td>{#amount} <label style="display:inline-block;">{#isLinkage}<!--<input type="checkBox" data-check-money="1" checked>--><span>連動人員使用百分比</span></label></td>
    <td bgcolor="#EEEEEE">加班費</td>
    <td>{#overPay}</td>
    <td bgcolor="#EEEEEE">預編科目</td>
    <td>{#subject}</td>
  </tr>
 
 <tr>
    <td colspan="16" align="center" bgcolor="#999999">
      <input type="button" value="關閉" onclick="window.close();" />
    </td>
  </tr>
</table>

<script type="text/javascript">
  $(function(){
    $('[name="_noEmp"]').attr('disabled','disabled');
    if($('[name="noEmp"]').val() == 1) {
      $('[name="_noEmp"]').attr('checked','checked');
      $('[name="rate"]').attr('disabled','disabled');
    }
  })
</script>


