<style type="text/css">
  .oddTr td:first-child {
     border-bottom: solid 1px #aaa;
  }
  .oddTr td:last-child {
     border-bottom: solid 1px #aaa;
  }
  .evenTr td{
      border-bottom: solid 1px #aaa;
  }
</style>
<h3 style="margin-bottom: 10px;">人力編制-新增</h3>
<table id="newTable" width="100%" border="0" cellpadding="4" cellspacing="0">
  <tr class="oddTr" data-one-tr="1">
    <td rowspan="3">1.</td>
    <td bgcolor="#EEEEEE">子計畫</td>
    <td>{#fid[]}{#sid[]}{#_sid[]}</td>
    <td bgcolor="#EEEEEE">員工編號</td>
    <td>{#empID[]}<br>{#noEmp[]}新聘或留停</td>
    <td bgcolor="#EEEEEE">職銜</td>
    <td>{#jobID[]}</td>
    
    <td rowspan="3"><a href="javascript:void(0)" onclick="addTr()">增加</a></td>
  </tr>
  <tr data-two-tr="1">
    <td bgcolor="#EEEEEE">人員使用百分比</td>
    <td>{#rate[]}</td>
    <td bgcolor="#EEEEEE">開始日期</td>
    <td>{#bDate[]}</td>
    <td bgcolor="#EEEEEE">結束日期</td>
    <td>{#eDate[]}</td>

  </tr>
  <tr class="evenTr" data-three-tr="1">
    <td bgcolor="#EEEEEE">金額</td>
    <td>{#amount[]} <!--<label style="display:inline-block;">{#isLinkage[]}--><!--<input type="checkBox" data-check-money="1" checked>--><!--<span>連動人員使用百分比</span></label>--></td>
    <td bgcolor="#EEEEEE">加班費</td>
    <td>{#overPay[]}</td>
    <td bgcolor="#EEEEEE">預編科目</td>
    <td>{#subject[]}</td>
  </tr>
 
 <tr>
    <td colspan="16" align="center" bgcolor="#999999">
      <input type="submit" name="Submit" id="Submit" value="送出" />
      <input type="reset" name="Reset" id="Reset" value="重設" />
      <input type="button" value="取消" onclick="window.close();" />
    </td>
  </tr>
</table>

<script type="text/javascript">
var newTr = [];
$(function(){
  if($('#newTable').length == 1) {
    newTr.push('<tr class="oddTr" data-one-tr="1">');
    newTr.push($('[data-one-tr="1"]').html());
    newTr.push('</tr>');
    newTr.push('<tr data-two-tr="1">');
    newTr.push($('[data-two-tr="1"]').html());
    newTr.push('</tr>');
    newTr.push('<tr class="evenTr" data-three-tr="1">');
    newTr.push($('[data-three-tr="1"]').html());
    newTr.push('</tr>');
    newTr = newTr.join('');
  }
})

function addTr() {
  var k = parseInt($('[data-one-tr]:last').attr('data-one-tr')) + 1;
  addNewTr = newTr.replace(/data-one-tr="1"/,'data-one-tr="'+k+'"');
  addNewTr = addNewTr.replace(/<td rowspan="3">1/,'<td rowspan="3">'+k);
  addNewTr = addNewTr.replace(/data-two-tr="1"/,'data-two-tr="'+k+'"');
  addNewTr = addNewTr.replace(/data-check-money="1"/,'data-check-money="'+k+'"');
  addNewTr = addNewTr.replace(/data-three-tr="1"/,'data-three-tr="'+k+'"');

 // addNewTr = addNewTr.replace(/data-no-emp="1"/,'data-no-emp="'+k+'"');
  $('[data-three-tr]:last').after(addNewTr);
  $('[data-one-tr] td:last').html('<a href="javascript:void(0)" onclick="addTr()">增加</a> / <a style="color:red;" href="javascript:void(0)" onclick="deleteTr('+k+')">刪除</a>');

  $('[name$="Date[]"]').removeClass("hasDatepicker").removeAttr("id");
  $('.ui-datepicker-trigger').remove();


  $('.queryDate').datepicker( {showOn: 'button', buttonImage: '/images/calendar.jpg', buttonImageOnly: true});
  $('.queryDate').datepicker('option', 'duration', '');
  $('.queryDate').datepicker($.datepicker.regional['zh-TW']);
}

function deleteTr(k) {
  $('[data-one-tr="'+k+'"]').remove();
  $('[data-two-tr="'+k+'"]').remove();
  $('[data-three-tr="'+k+'"]').remove();
}

</script>
