@charset "utf-8";
/* CSS Document */
table.grid{  margin-top:10px;	border: 1px solid #ccc; border-collapse: collapse; width:100%;}
table.grid td {   border: 1px solid #999;	padding:3px;	font-size:12px; color:#000; text-align:center;}
#d_tuning,#d_batch{
	display:none;
	overflow:auto;
	position:fixed;
	left:50%;
	margin-left:-470px;
	top:5%;
}

.tbTitle{background:#dedede; font-size:12px;}
.divBorder1 { /* 內容區 第一層外框 */
	background-color:#dedede;
	border:1px solid #666;
	padding:0px;
	margin:0px;
	font-size:16px;
}
.divBorder2 { /* 內容區 第二層外框 */
	padding:8px; 
	background:#FFFFFF;
	margin:0px 10px 0px 10px;
	overflow:scroll;
}
.dtlTitle{	
	color:#fff;
	background-color:#900;
	border: 0px;
	padding: 5px;
	font-family:'微軟正黑體'; 
	font-size:14px;
	margin-top:10px;
	margin-left:10px;
	width:900px;
}
.divTopbar{
	background:#FFF;
	padding:8px 8px 0px 8px; 
	margin-left:10px;
	background:#FFFFFF;
}

#d_list{
	overflow-x:hidden;
	overflow-y:auto;
	padding-top:1px;
	width:900px;
}
.divBottom{	
	background:#f0f0f0;
	text-align:center;
	padding:8px; 
	margin-left:10px;
	margin-bottom:10px;
	width:900px;
}
#td_rspContent{
	text-align:left;
}
.opt{	width:16px;height:16px}
