<style type="text/css">
  .cLabel {
    text-align: center;
    background-color: #EEE;
    border: 1px solid #333333;
    padding: 4px 8px 4px 4px;
  }

 .colData {
  text-align: center;
 }
 .tdTitle {
  text-align: center;
  font-size: 14px;
  font-weight: bolder;
 }


</style>
{#creator}
{#type}
<h3 style="text-align: center;">財團法人瑪利亞社會福利基金會</h3>
<h3 style="text-align: center;">{#year}年度教養機構服務補助預算表</h3>
<div style="display: none">{#invNoList}</div>
<h4>挑選方式：{#groupType}</h4>
<h4 data-show-type="depID" style="display:none;">機構/中心：{#depIDQuery}<table id="depIDTable" style="width: auto;"></table></h4>
<h4 data-show-type="invNo" style="display:none;">統一編號：<table id="invNoTable"></table></h4>
<h4 data-show-type="planID" style="display:none;">計劃主檔：{#planIDQuery}<table id="planIDTable" style="width: auto;"></table></h4>
{#depID}
{#invNo}
{#planID}
<table id="dataTable">
  <tr>
    <td class="cLabel" width="25px;">序號</td>
    <td class="cLabel">姓名</td>
    <td class="cLabel">類別</td>
    <td class="cLabel">申請補助<br>月數</td>
    <td class="cLabel">每月申請<br>補助金額</td>
    <td class="cLabel">全年度<br>補助金額</td>
    <td class="cLabel">備註</td>
  </tr>
  
</table>
<table>

  <tr>
    <td colspan="10" class="rowSubmit"><input type="hidden" name="ListFmParams"><button type="submit" name="Submit" class="submitBtn" onclick="return formCheck();" disabled>確定新增</button><button type="button" class="cancilBtn" onclick="history.back()">取消新增</button></td>
  </tr>
</table>
<script src="dataControl.js" type="text/javascript"></script>
<script src="../report.js" type="text/javascript"></script>
<script type="text/javascript">
 /* $(function(){
    if($('[name="depID"]').val() != '') ajaxCheck('add', 0);
    $('[name="year"]').change(function(){
      if($('[name="depID"]').val() != '') ajaxCheck('add', 0);
    });

    $('[name="depID"]').change(function(){
      if($(this).val() != '') ajaxCheck('add', 0);
      else dataClear();
    });
  })*/
</script>