<style type="text/css">
  .cLabel {
    text-align: center;
    background-color: #EEE;
    border: 1px solid #333333;
    padding: 4px 8px 4px 4px;
  }

 .colData {
  text-align: center;
 }
 .tdTitle {
  text-align: center;
  font-size: 14px;
  font-weight: bolder;
 }

</style>
<div style="display: none;">{#id}{#groupType}{#depID}{#invNo}{#planID}{#showTitle}</div>
<h3 style="text-align: center;">財團法人瑪利亞社會福利基金會</h3>
<h3 style="text-align: center;">{#year}年度教養機構服務補助預算表</h3>
<h4 id="showTitle"></h4>
<table id="dataTable">
  <tr>
    <td class="cLabel" width="25px;">序號</td>
    <td class="cLabel">姓名</td>
    <td class="cLabel">類別</td>
    <td class="cLabel">申請補助<br>月數</td>
    <td class="cLabel">每月申請<br>補助金額</td>
    <td class="cLabel">全年度<br>補助金額</td>
    <td class="cLabel">備註</td>
  </tr>
  
</table>
<table>
<tr>
    <td colspan="4" class="rowSubmit"><input type="hidden" name="ListFmParams"><button type="button" class="cancilBtn" onclick="history.back()">確定</button></td>
  </tr>
</table>
<script src="dataControl.js" type="text/javascript"></script>
<script type="text/javascript">
  $(function(){
    ajaxCheck('edit', $('[name="id"]').val());
  })
</script>
