.yearTab {
	font-family: 微軟正黑體, sans-serif;
    border-collapse: collapse;
    width: 100%;
    font-size: 14px;
}
.yearTab td, th {
	border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
    background: #fff;

}
.yearTab td input{
	width:100%;
}
.specialTab {
	margin-bottom:10px;
}
.out{
   width:0px; /*讓容器寬度為0*/
   height:0px; /*讓容器高度為0*/
   position:relative; /*讓裡面的兩個子容器絕對定位*/
}
b{font-style:normal;display:block;position:absolute;top:-20px;left:40px;width:100px;}
em{font-style:normal;display:block;position:absolute;width:100px;left:-35PX;}
.lineTh{width:120px;height:50px;}
.line{display:block;width:140px;height:1px;background:#000;-webkit-transform:rotate(19deg);margin-left:-10px;}

#d_setting{display:none; overflow: auto;height:450px; width:400px; position: absolute;top:80px;left:120px;}

.divTitle{
	color:#fff;
	background-color:#900;
	border: 0px;
	padding: 8px;
	font-family:'微軟正黑體'; 
	font-size:14px;
	width:364px;
	margin-top:10px;
	margin-left:10px;
}
.divBorder1 { /* 內容區 第一層外框 */
	background-color:#dedede;
	border:1px solid #666;
	padding:0px;
	margin:0px;
	font-size:16px;
}

.divBorder2 { /* 內容區 第二層外框 */
	padding:8px; 
	background:#FFFFFF;
	margin:0px 10px 0px 10px;
	
	height:330px;
	overflow-x:hidden;
	overflow-y:auto;
}

.browser {
	margin-left: -40px;
    margin-top: -2px;
}
.browser label {
	cursor:pointer;
}
.browser li {
	list-style:none;
	list-style-position: outside;
	padding: 1px 4px; 
	cursor:pointer;
}
.spanIm{
	margin: 0 2px;
	background: url(../../images/job.png) 0 0 no-repeat;
    padding: 1px 0 1px 16px;
    width: 10px;
    height: 10px;
    background-size: contain;
}

.divf1 {
	float: left;
}
.divf2 {
	float: left;
	margin-left: 50px;
}
