<style type="text/css">
  .cLabel {
    text-align: center;
    background-color: #EEE;
    border: 1px solid #333333;
    padding: 4px 8px 4px 4px;
  }


 .tdTitle {
  text-align: center;
  font-size: 14px;
  font-weight: bolder;
 }


</style>
{#creator}
<h3 style="text-align: center;">財團法人瑪利亞社會福利基金會</h3>
<h3 style="text-align: center;">{#year}年專案審核表</h3>
<h4>機構/心：{#depID} 追加減計畫：{#pID} </h4>

<div id="showData">
  
</div>

<table>

  <tr>
    <td colspan="5" class="rowSubmit"><input type="hidden" name="ListFmParams"><button type="submit" name="Submit" class="submitBtn" onclick="return formCheck();" disabled>確定新增</button><button type="button" class="cancilBtn" onclick="history.back()">取消新增</button></td>
  </tr>
</table>
<script src="dataControl.js" type="text/javascript"></script>
<script type="text/javascript">
  $(function(){
    if($('[name="pID"]').val() != '') ajaxCheck('add', 0);
    $('[name="year"]').change(function(){
      dataClear();
      if($('[name="depID"]').val() != '') ajaxGetPlanChange($('[name="depID"]').val(), $('[name="year"]').val());
    });

    $('[name="depID"]').change(function(){
      ajaxGetPlanChange($(this).val(), $('[name="year"]').val());
    });

    $('[name="pID"]').change(function(){
      if($(this).val() != '') ajaxCheck('add', 0);
      else dataClear();
    });
  })

  //複寫form.js 原先returnValue
  function returnValue(data) {
    if(data) {
      param.val(data[0]);
      param[0].setCustomValidity(''); //讓錯誤訊息清空
      param.next().next('span').html(data[1]); 
      $(param).change();
      var cbFunc = param.attr('callback');
      if(cbFunc) setTimeout(cbFunc+'("'+data[0]+'")',0);
    }
  }
</script>