<style type="text/css">
  .cLabel {
    text-align: center;
    background-color: #EEE;
    border: 1px solid #333333;
    padding: 4px 8px 4px 4px;
  }

 .tdTitle {
  text-align: center;
  font-size: 14px;
  font-weight: bolder;
 }

</style>
<div style="display: none;">{#id}</div>
<h3 style="text-align: center;">財團法人瑪利亞社會福利基金會</h3>
<h3 style="text-align: center;">{#year}年專案審核表</h3>
<h4>機構/中心：{#depID} 追加減計畫：{#pID}</h4>
<div id="showData">
  
</div>
<table>
<tr>
    <td colspan="4" class="rowSubmit"><input type="hidden" name="ListFmParams"><button type="button" class="cancilBtn" onclick="history.back()">確定</button></td>
  </tr>
</table>
<script src="dataControl.js" type="text/javascript"></script>
<script type="text/javascript">
  $(function(){
    ajaxCheck('edit', $('[name="id"]').val());
  })
</script>
