@charset "utf-8";
/*cut div*/
.cutBox{
	position:relative;
	border:#C00 2px dashed;
	display: none;
}
/* 多檔上傳 */
.photoPreview .photoItem { margin:5px ; display:none; clear:both; overflow:hidden;padding:; border:1px solid #ccc; }
.photoPreview .photoDesc { float:left; margin-left:5px; }
.photoPreview .photoItem input, .photoPreview .photoItem textarea { width:98%; margin-top:5px;margin-bottom:5px;font-size:18px; }
.photoPreview .photoItem textarea { height:5em; }
.photoPreview .photoItem img { /*max-width:800px;max-height:400px;*/  float:left; }
.photoPreview .photoItem .photoDel ,
.photoPreview .photoItem .photoCut,
.photoPreview .photoItem .photoZoomin,
.photoPreview .photoItem .photoZoomout{ margin:5px 0 5px 5px; cursor:pointer; height:40px; }
.photoPreview .photoItem .photoZoomin,
.photoPreview .photoItem .photoZoomout{display:none;}
.photoPreview .photoItem .classClose { font-size:13px; cursor:pointer; }