<style type="text/css">
  .oddTr td:first-child {
     border-bottom: solid 1px #aaa;
  }
  .oddTr td:last-child {
     border-bottom: solid 1px #aaa;
  }
  .evenTr td{
      border-bottom: solid 1px #aaa;
  }
</style>
<div>年度：{#year} &nbsp&nbsp 部門：{#depID}</div><br>
<table id="newTable" width="100%" border="0" cellpadding="4" cellspacing="0">
  <tr class="oddTr" data-one-tr="1">
    <td rowspan="2" width="3%">1.</td>
    <td bgcolor="#EEEEEE" width="5%">計畫編號</td>
    <td colspan="" width="35%">{#projID[0]}<br><label>{#isUse[0]}使用編號</label></td>
    <td bgcolor="#EEEEEE" width="5%">計畫主檔</td>
    <td width="35%">{#item[0]}</td>
    <td rowspan="2"><a href="javascript:void(0)" onclick="addTr()">增加</a> / <a style="color:red;" href="javascript:void(0)" onclick="deleteTr(1)">刪除</a></td>
  </tr>
  <tr class="evenTr" data-two-tr="1">
    <td bgcolor="#EEEEEE">名稱</td>
    <td>{#title[0]}<br><label style="display:inline-block;"><input type="checkbox" class="input" value="1" data-checkbox="1" checked>連動計畫主檔</label></td>
    <td bgcolor="#EEEEEE">備註</td>
    <td colspan="">{#notes[0]}</td>

  </tr>
 
 <tr>
    <td colspan="16" align="center" bgcolor="#999999">
      <input type="submit" id="Submit" value="送出" />
      <input type="reset"  id="Reset" value="重設" />
      <input type="button" value="取消" onclick="history.back();" />
    </td>
  </tr>
</table>

<script type="text/javascript">
var newTr = [];
$(function(){
  if($('#newTable').length == 1) {
    newTr.push('<tr class="oddTr" data-one-tr="1">');
    newTr.push($('[data-one-tr="1"]').html());
    newTr.push('</tr>');
    newTr.push('<tr class="evenTr" data-two-tr="1">');
    newTr.push($('[data-two-tr="1"]').html());
    newTr.push('</tr>');
    newTr = newTr.join('');
    //console.log(newTr);
  }

  $('#depID').change(function(){
    
  });
})

function addTr() {
  var k = parseInt($('[data-one-tr]:last').attr('data-one-tr')) + 1;
  addNewTr = newTr.replace(/data-one-tr="1"/,'data-one-tr="'+k+'"');
  addNewTr = addNewTr.replace(/<td rowspan="2">1/,'<td rowspan="2">'+k);
  addNewTr = addNewTr.replace(/data-two-tr="1"/,'data-two-tr="'+k+'"');
  addNewTr = addNewTr.replace('name="item[0][]"','name="item['+(k-1)+'][]"');
  addNewTr = addNewTr.replace('name="title[0]"','name="title['+(k-1)+']"');
  addNewTr = addNewTr.replace('name="projID[0]"','name="projID['+(k-1)+']"');
  addNewTr = addNewTr.replace('name="notes[0]"','name="notes['+(k-1)+']"');
  addNewTr = addNewTr.replace('name="isUse[0]"','name="isUse['+(k-1)+']"');

  addNewTr = addNewTr.replace(/data-checkbox="1"/,'data-checkbox="'+k+'"');
  $('[data-two-tr]:last').after(addNewTr);
  $('[data-one-tr] td:last').html('<a href="javascript:void(0)" onclick="addTr()">增加</a> / <a style="color:red;" href="javascript:void(0)" onclick="deleteTr('+k+')">刪除</a>');
  if(itemIDSelect != '') {
    var name = $('[data-one-tr]:last [name^="item["]').attr('name');
    $('[data-one-tr]:last [name^="item["]').parent('td').html(itemIDSelect.replace('itemIDName',name));
  }
  $(".chosen").each(function () {
      $(this).chosen({
          allow_single_deselect: $(this).attr("data-with-diselect") === "1" ? true : false
      });
  });
}

function deleteTr(k) {
  $('[data-one-tr="'+k+'"]').remove();
  $('[data-two-tr="'+k+'"]').remove();
}
</script>
