<style type="text/css">
  .oddTr td:first-child {
     border-bottom: solid 1px #aaa;
  }
  .oddTr td:last-child {
     border-bottom: solid 1px #aaa;
  }
  .evenTr td{
      border-bottom: solid 1px #aaa;
  }
</style>
<div>年度：{#year} &nbsp&nbsp 部門：{#depID}</div><br>
<div style="display:none;">{#id}{#status}</div>
<table id="newTable" width="100%" border="0" cellpadding="4" cellspacing="0">
  <tr class="oddTr" data-one-tr="1">
    <td rowspan="2" width="3%">1.</td>
    <td bgcolor="#EEEEEE" width="5%">計畫編號</td>
    <td colspan="" width="35%">{#projID}<br><label>{#isUse}使用編號</label></td>
    <td bgcolor="#EEEEEE" width="5%">計畫主檔</td>
    <td width="35%">{#item}</td>
    <td rowspan="2"></td>
  </tr>
  <tr class="evenTr" data-two-tr="1">
    <td bgcolor="#EEEEEE">名稱</td>
    <td>{#title}<br><label style="display:inline-block;"><input type="checkbox" class="input" value="1" data-checkbox="1" checked>連動計畫主檔</label></td>
    <td bgcolor="#EEEEEE">備註</td>
    <td colspan="">{#notes}</td>
  </tr>
 
 <tr>
    <td colspan="16" align="center" bgcolor="#999999">
      <input type="submit" id="Submit" value="儲存" />
      <input type="reset"  id="Reset" value="重設" />
      <input type="button" value="取消" onclick="history.back();" />
    </td>
  </tr>
</table>
<script type="text/javascript">
  $(function(){
    if($('[name="status"]').val() == 1) {
      $('#Submit').remove();
      $('#Reset').remove();
    }
  });
</script>

