<frameset cols="150,*">
  <frame src="menu.php" name="menu" scrolling="auto" frameborder="0">
  <frame src="home.php" name="main" frameborder="0">
</frameset>  

<noframes><body></body></noframes>
</html>
