/*
Styles for HTML5 File Drag & Drop demonstration
Featured on SitePoint.com
Developed by Craig Buckler (@craigbuckler) of OptimalWorks.net
*/

body {
  font-family: "Segoe UI", Tahoma, Helvetica, freesans, sans-serif;
  font-size: 90%;
  margin: 10px;
  color: #333;
  background-color: #fff;
}
h1, h2 {
  font-size: 1.5em;
  font-weight: normal;
}
h2 {
  font-size: 1.3em;
}
legend {
  font-weight: bold;
  color: #333;
}
.filedrag {
  display: block;
  font-weight: bold;
  text-align: center;
  padding: 1em 0;
  margin: 1em 0;
  color: #555;
  border: 2px dashed #555;
  border-radius: 7px;
  cursor: default;
}
.filedrag.hover {
  color: #f00;
  border-color: #f00;
  border-style: solid;
  box-shadow: inset 0 3px 4px #888;
}
img {
  max-width: 100%;
}
pre {
  width: 95%;
  height: 8em;
  font-family: monospace;
  font-size: 0.9em;
  padding: 1px 2px;
  margin: 0 0 1em auto;
  border: 1px inset #666;
  background-color: #eee;
  overflow: auto;
}
#messages {
  padding: 0 10px;
  margin: 1em 0;
  border: 1px solid #999;
}
#progress {
  width: 90%;
  /*height: 200px;*/
  /*overflow:scroll;
overflow-x:hidden;*/
  /*position: absolute;*/
  
  background: #fff;
  /*cursor: all-scroll;*/
  /*border: 1px solid;*/
}
#progress li {
  display: block;
  width: 90%;
  padding: 2px 5px;
  margin: 2px 0;
  border: 1px inset #446;
  border-radius: 5px;
  background: #eee;
  position: relative;
  height: 20px;
}
#progress_back {
  display: block;
  padding: 2px 0px;
  border-radius: 5px;
  background: #5E5EFF;
  position: absolute;
  left: 0;
  top: 0;
  height: 20px;
  width: 0px;
}
div[id^="c_"] {
    display: block;
    padding: 2px 0px;
    border-radius: 5px;
    background: #5E5EFF;
    position: absolute;
    left: 0;
    top: 0;
    height: 20px;
    width: 0px;
}
div[id^="content_"] {
  height: 20px;
  position: absolute;
  text-align: right;
  width: 1000px;
}
div[id^="cancle"] {
  position: absolute;
  left: 1021px;
  top: 0px;
  font-size: 17px;
  cursor: pointer;
  width: 100px;
}
#progress p.success {
  background: #0c0 none 0 0 no-repeat;
}
#progress p.failed {
  background: #c00 none 0 0 no-repeat;
}
#login_text {
  margin: 50px auto;
  height: 150px;
  width: 20%;
  text-align: center;
  font-family: "微軟正黑體";
  border-radius: 5px;
}
.login_title {
  font-size: 20px;
}
.login_title input {
  width: auto;
}
.login {
  font-size: 20px;
  background: #000;
  color: #fff;
  cursor: pointer;
  -moz-border-radius: 5px;
  /* Firefox */
  -webkit-border-radius: 5px;
  /* Safari, Chrome */
  -khtml-border-radius: 5px;
  /* Konqueror */
  border-radius: 5px;
  /* Opera 10.50 and later (CSS3 standard) */
}
.fileDisplayArea{
  margin: 10px 0;
}
.preview {
  float: left;
  cursor:pointer
}

.preview:hover {
  border: 1px solid #00f;
  opacity: 0.5;
}