
<h3 style="margin-bottom: 10px;">教養補助-修改</h3>
<table id="newTable" width="100%" border="0" cellpadding="4" cellspacing="0">
   <tr class="oddTr" data-one-tr="1">
    <td rowspan="2">{#id}.</td>
    <td bgcolor="#EEEEEE">子計畫</td>
    <td>{#fid}{#sid}</td>
    <td bgcolor="#EEEEEE">姓名</td>
    <td>{#empID}<br>{#noEmp}{#_noEmp}新聘或留停</td>
    <td bgcolor="#EEEEEE">類別</td>
    <td>{#class}</td>
    <td bgcolor="#EEEEEE">評鑑等級</td>
    <td>{#per}</td>
  </tr>
  <tr class="evenTr" data-two-tr="1">
    <td bgcolor="#EEEEEE">補助月數</td>
    <td>{#monthNum}</td>
    <td bgcolor="#EEEEEE">補助金額</td>
    <td>{#monthPay}</td>
    <td bgcolor="#EEEEEE">備註</td>
    <td colspan="">{#notes}</td>
    <td></td>
    <td></td>
  </tr>
 
 <tr>
    <td colspan="16" align="center" bgcolor="#999999">
      <input type="button" value="關閉" onclick="window.close();" />
    </td>
  </tr>
</table>
<script type="text/javascript">
  $(function(){
    $('[name="_noEmp"]').attr('disabled','disabled');
    if($('[name="noEmp"]').val() == 1) {
      $('[name="_noEmp"]').attr('checked','checked');
      $('[name="rate"]').attr('disabled','disabled');
    }
  })
</script>

