@charset "utf-8";
.minorTable {
	margin-bottom: 5px;
}
.minorTable th {
	background-color: #FFF8D7 !important;
}
.minorTable tr:nth-child(even) td {
	background-color: #fff2ff !important;
}
.minorTable tr:nth-child(odd) td {
	background-color: #e5f1fd !important;
}

.none {
	display: none;
}
.foldOpen {
	margin-left: -22px;
    font-size: 18px;
    font-weight: bolder;
    color: #669866;
    cursor: pointer;
}
.foldClose {
	margin-left: -22px;
    font-size: 26px;
    font-weight: bold;
    color: #F44336;
    cursor: pointer;
}