@charset "utf-8";
/* CSS Document */
#PageControl {
	display:inline-block;
	font-size:12px;
}

#PageControl .firstBtn{
	background-color:#06C;
	color:#FFF;
	font-family:"微軟正黑體", Verdana;
}

#PageControl .prevBtn{
	background-color:#06C;
	color:#FFF;
	font-family:"微軟正黑體", Verdana;
}

#PageControl .nextBtn{
	background-color:#06C;
	color:#FFF;
	font-family:"微軟正黑體", Verdana;
}

#PageControl .lastBtn{
	background-color:#06C;
	color:#FFF;
	font-family:"微軟正黑體", Verdana;
}

#PageControl .goBtn{
	background-color:#099;
	color:#FFF;
	font-family:"微軟正黑體", Verdana;
}

#PageControl .numEdit{
	margin-left:5px;
	margin-bottom:0;
	width:30px;
	background-color:#E3F1FF;
	font-family:"微軟正黑體", Verdana;
}

#PageControl .searchBtn{
	background-color:#939;
	color:#FFF;
	font-family:"微軟正黑體", Verdana;
}
#PageControl .newBtn{
	background-color:#939;
	color:#FFF;
	font-family:"微軟正黑體", Verdana;
}
#PageControl .editBtn{
	background-color:#939;
	color:#FFF;
	font-family:"微軟正黑體", Verdana;
}
#PageControl .delBtn{
	background-color:#939;
	color:#FFF;
	font-family:"微軟正黑體", Verdana;
}
#PageControl .etraBtn{
	background-color:#939;
	color:#FFF;
	font-family:"微軟正黑體", Verdana;
	margin-left: 1px;
}

#PageControl button[disabled] {
	background-color:#CCC;
}