@charset "utf-8";
/* CSS Document */

#TreeControl {
	display:inline-block;
	background-color:white;
	border:solid 1px #ccc;
	padding: 5px;
	font-size:12px;
	font-family:"微軟正黑體", Verdana
}

#TreeControl .root{
	font-size:14px;
	font-weight:bold;
}

#TreeControl a:link { text-decoration:none }
#TreeControl a:visited { text-decoration: none;}
#TreeControl a:hover {	color: #FF0000;	text-decoration: none;}
#TreeControl a:active { color: #808080; text-decoration: none;	font-weight: bold;}

#TreeControl.modal { 
	display:none;
	position:absolute;
	padding:10px;
	border:solid 1px #888;
	left:0;
	top:0;
	box-shadow:4px 4px 3px rgba(20%,20%,40%,0.5);
	width:unset;
}

/*
 .filetree span.folder default with jquer.treeview.css
*/
.filetree span.people { 
	background: url(/images/people.png) 0 0 no-repeat;
	padding: 1px 0 1px 16px;
	width: 10px;height: 10px;
	background-size: contain;
}