<style type="text/css">
  .cLabel {
    text-align: center;
    background-color: #EEE;
    border: 1px solid #333333;
    padding: 4px 8px 4px 4px;
  }

 .tdNum {
  text-align: right;
 }
 .tdTitle {
  text-align: center;
  font-size: 14px;
  font-weight: bolder;
 }


</style>
{#creator}
<h3 style="text-align: center;">財團法人瑪利亞社會福利基金會</h3>
<h3 style="text-align: center;">{#year}年度預算表</h3>
<div style="display: none">{#invNoList}</div>
<h4>挑選方式：{#groupType}</h4>
<h4 data-show-type="depID" style="display:none;">機構/中心：{#depIDQuery}<table id="depIDTable" style="width: auto;"></table></h4>
<h4 data-show-type="invNo" style="display:none;">統一編號：<table id="invNoTable"></table></h4>
<h4 data-show-type="planID" style="display:none;">計劃主檔：{#planIDQuery}<table id="planIDTable" style="width: auto;"></table></h4>
{#depID}
{#invNo}
{#planID}
<table id="dataTable">
  <tr>
    <td class="cLabel tdTitle" width="15%">預算項目</td>
    <td class="cLabel tdTitle" width="10%">收入預算</td>
    <td class="cLabel tdTitle" width="10%">支出預算</td>
    <td class="cLabel tdTitle" width="10%">上年度收入預算</td>
    <td class="cLabel tdTitle" width="10%">上年度支出預算</td>
    <td class="cLabel tdTitle" width="10%">年度預算增減數</td>
    <td class="cLabel tdTitle">預算說明</td>
  </tr>
  
</table>
<table>

  <tr>
    <td colspan="10" class="rowSubmit"><input type="hidden" name="ListFmParams"><button type="submit" name="Submit" class="submitBtn" onclick="return formCheck();" disabled>確定新增</button><button type="button" class="cancilBtn" onclick="history.back()">取消新增</button></td>
  </tr>
</table>
<script src="dataControl.js" type="text/javascript"></script>
<script src="../report.js" type="text/javascript"></script>
<script type="text/javascript">
</script>