<style type="text/css">
  .cLabel {
    text-align: center;
    background-color: #EEE;
    border: 1px solid #333333;
    padding: 4px 8px 4px 4px;
  }

 .tdNum {
  text-align: right;
 }
 .tdTitle {
  text-align: center;
  font-size: 14px;
  font-weight: bolder;
 }


</style>
<div style="display: none;">{#id}{#groupType}{#depID}{#invNo}{#planID}{#showTitle}</div>
<h3 style="text-align: center;">財團法人瑪利亞社會福利基金會</h3>
<h3 style="text-align: center;">{#year}年度預算表</h3>
<h4 id="showTitle"></h4>
<table id="dataTable">
  <tr>
    <td class="cLabel tdTitle" width="15%">預算項目</td>
    <td class="cLabel tdTitle" width="10%">收入預算</td>
    <td class="cLabel tdTitle" width="10%">支出預算</td>
    <td class="cLabel tdTitle" width="10%">上年度收入預算</td>
    <td class="cLabel tdTitle" width="10%">上年度支出預算</td>
    <td class="cLabel tdTitle" width="10%">年度預算增減數</td>
    <td class="cLabel tdTitle">預算說明</td>
  </tr>
  
</table>
<table>
<tr>
    <td colspan="4" class="rowSubmit"><input type="hidden" name="ListFmParams"><button type="submit" name="Submit" class="submitBtn" disabled>確定修改</button><button type="button" class="cancilBtn" onclick="history.back()">取消修改</button></td>
  </tr>
</table>
<script src="dataControl.js" type="text/javascript"></script>
<script type="text/javascript">
  $(function(){
    ajaxCheck('edit', $('[name="id"]').val());
  })
</script>
