<div class="BannerDiv">資訊查閱</div>

<div align="right" style="padding-right: 12px">
	<form style="margin:0">
  	<input type="hidden" name="incfn" value="list.php" />
    <input type="hidden" name="cid" value="" />
  	<input type="text" name="keyword" /><input type="image" src="/images/search.jpg" name="Submit" value="搜尋" align="absmiddle" />搜尋
  </form>
</div>
