<table width="100%" border="0" cellpadding="4" cellspacing="0">
  <tr>
    <td align="right" bgcolor="#EEEEEE">請假人員</td>
    <td>{#empID}</td>
    <td align="right" bgcolor="#EEEEEE">代理人</td>
    <td>{#agent}</td>
    <td align="right" bgcolor="#EEEEEE">主管</td>
    <td>{#leadmen}</td>
    <td align="right" bgcolor="#EEEEEE">假別</td>
    <td>{#aType}</td>
  </tr>
   <tr>
    <td align="right" bgcolor="#EEEEEE">請假起始時間</td>
    <td>{#bDate}</td>
    <td align="right" bgcolor="#EEEEEE">請假結束時間</td>
    <td>{#eDate}</td>    
    <td align="right" bgcolor="#EEEEEE">請假日期</td>
    <td>{#rdate}</td>
    <td align="right" bgcolor="#EEEEEE">請假時數</td>
    <td>{#hours}</td>
  </tr> 
  <tr>
    <td align="right" bgcolor="#EEEEEE">准假</td>
    <td>{#isOK}</td>
    <td align="right" bgcolor="#EEEEEE">申請銷假</td>
    <td>{#isReqD}</td>
    <td align="right" bgcolor="#EEEEEE">銷假</td>
    <td colspan="3">{#isDel}</td>
  </tr>
  <tr>
    <td align="right" bgcolor="#EEEEEE">事由 / 說明</td>
    <td colspan="7">{#content}</td>
  </tr>
  <tr>
    <td align="right" bgcolor="#EEEEEE">交辦事項</td>
    <td colspan="7">{#notes}</td>
  </tr>
  <tr>
	  <td align="right" bgcolor="#EEEEEE">辦理情形</td>
    <td colspan="7">{#rspContent}</td>
  </tr> 
</table>
