<style type="text/css">
  .cLabel {
    text-align: center;
    background-color: #EEE;
    border: 1px solid #333333;
    padding: 4px 8px 4px 4px;
  }
  /*td {
     text-align: center;
  }*/

  .slash{
    position:relative;
    width:90px;
    height:40px;
    box-sizing:border-box;
    line-height:120px;
    background: linear-gradient(45deg, transparent 49.5%, #212121 49.5%, transparent 50.5%, transparent 50.5%);
    left: -20px;
  }

  .slash01{
    position: absolute;
    top: -50px;
    left: 50px;
  }
  .slash02{
    position: absolute;
    top: -25px;
    left: 20px;
}

</style>
{#creator}
<h3 style="text-align: center;">財團法人瑪利亞社會福利基金會</h3>
<h3 style="text-align: center;">{#year}年度計畫/預算總表</h3>
<div style="display: none">{#invNoList}</div>
<h4>挑選方式：{#groupType}</h4>
<h4 data-show-type="depID" style="display:none;">機構/中心：{#depIDQuery}<table id="depIDTable" style="width: auto;"></table></h4>
<h4 data-show-type="invNo" style="display:none;">統一編號：<table id="invNoTable"></table></h4>
<h4 data-show-type="planID" style="display:none;">計劃主檔：{#planIDQuery}<table id="planIDTable" style="width: auto;"></table></h4>
{#depID}
{#invNo}
{#planID}
<table>

  <tr id="tabSrv">
    <th rowspan="1" class="cLabel" style="width:22px;">個案服務總量</th>
    <th class="cLabel" style="width:80px;">
      <div class="slash">
        <div class='slash01'>個案</div>
        <div class='slash02'>類型</div>
      </div>
    </th>
    <th class="cLabel">服務項目/名稱</th>
    <th style="width: 25%" class="cLabel">上年度服務量</th>
    <th style="width: 25%" class="cLabel">本年度服務量</th>
  </tr>
  

</table>

<table>
  <tr id="tabPlan4">
    <th style="width:22px;" rowspan="3" class="cLabel" >人力需求量</th>
    <th style="width: 15%" class="cLabel">上年度</th>
    <th style="width: 15%" class="cLabel">年度增減</th>
    <th class="cLabel">本年度預計</th>
    <th style="width: 50%" class="cLabel">人力擴編之方案說明</th>
  </tr>
</table>

<table>
  <tr id="tabBudget1">
    <th style="width:22px;" rowspan="4" class="cLabel" >總預算</th>
    <th style="width: 15%" class="cLabel">預算項目</th>
    <th style="width: 15%" class="cLabel">上年度(A)</th>
    <th class="cLabel">本年度(B)</th>
    <th style="width: 15%" class="cLabel">年度增減<br>(C=B-A)</th>
    <th style="width: 35%" class="cLabel">預算增減之主要方案說明</th>
  </tr>
</table>

<table>

  <tr>
    <td colspan="10" class="rowSubmit"><input type="hidden" name="ListFmParams"><button type="submit" name="Submit" class="submitBtn" onclick="return formCheck();" disabled>確定新增</button><button type="button" class="cancilBtn" onclick="history.back()">取消新增</button></td>
  </tr>
</table>
<script src="dataControl.js" type="text/javascript"></script>
<script src="../report.js" type="text/javascript"></script>
<script type="text/javascript">
  /*$(function(){
    if($('[name="depID"]').val() != '') ajaxCheck('add', 0);
    
    $('[name="year"]').change(function(){
      if($('[name="depID"]').val() != '') ajaxCheck('add', 0);
    });

    $('[name="depID"]').change(function(){
      if($(this).val() != '') ajaxCheck('add', 0);
      else dataClear();
    });
  })*/
</script>