<style type="text/css">
  .cLabel {
    text-align: center;
    background-color: #EEE;
    border: 1px solid #333333;
    padding: 4px 8px 4px 4px;
  }
  td {
     text-align: center;
  }

</style>
<div style="display: none;">{#id}{#groupType}{#depID}{#planID}{#invNo}{#showTitle}</div>
<h3 style="text-align: center;">財團法人瑪利亞社會福利基金會</h3>
<h3 style="text-align: center;">{#year}年度人力編制表</h3>
<h4 id="showTitle"></h4>
<table>
  <tr>
    <td style="width:5%" rowspan="2" class="cLabel">類別</td>
    <td style="width:10%" rowspan="2" class="cLabel">職稱</td>
    <td style="width:8%" rowspan="2" class="cLabel">上年度<br>預算人力</td>
    <td style="width:25%" colspan="3" class="cLabel">年度預算編制</td>
    <td rowspan="2" class="cLabel">個案量<br>增減</td>
    <td colspan="2" class="cLabel">預算人力</td>
    <td style="width:35%" rowspan="2" class="cLabel">說明</td>
  </tr>
  <tr id="dataTr">
    <td class="cLabel">個案量</td>
    <td class="cLabel">比例分析</td>
    <td class="cLabel">預算人力</td>
    <td class="cLabel">擴編</td>
    <td class="cLabel">縮編</td>
  </tr>
  
  <tr>
    <td class="cLabel" colspan="2">合計</td>
    <td class="cLabel" data-sum="lastTotal"></td>
    <td class="cLabel" colspan="2" data-sum="srvpeople"></td>
    <td class="cLabel" data-sum="total"></td>
    <td class="cLabel" data-sum="lastSrv"></td>
    <td class="cLabel" data-sum="add"></td>
    <td class="cLabel" data-sum="less"></td>
    <td class="cLabel"></td>
  </tr>
</table>
<table>
<tr>
    <td colspan="4" class="rowSubmit"><input type="hidden" name="ListFmParams"><button type="submit" name="Submit" class="submitBtn" disabled>確定修改</button><button type="button" class="cancilBtn" onclick="history.back()">取消修改</button></td>
  </tr>
</table>
<script src="dataControl.js" type="text/javascript"></script>
<script type="text/javascript">
  $(function(){
    ajaxCheck('edit', $('[name="id"]').val());
  })
</script>
