@charset "utf-8";
/* CSS Document */

.selClass { display:none; position:absolute; box-shadow:5px 5px 8px #ccc; background-color:#fff; padding:8px; margin:3px 0 0 25px; line-height:31px; z-index:99; border:1px solid #eee; }
.selClass .topClass { float:left; width:130px; font-size:13px; margin-right:3px; }
.selClass .topClass .classItem:first-child { background-color:#FCCDC8; }
.selClass .topClass:nth-child(even) .classItem:first-child { background-color:#C6E789; }
.selClass .classItem { text-align:center; line-height:28px; cursor:pointer; }
.selClass .classCurr { background-color:#7ED3E2; }
.selClass .classClose { clear:both; text-align:center; font-size:15px; font-weight:bold; cursor:pointer; color:#00F; }
.photoPreview .photoItem { margin:5px 5px 5px 0; display:none; clear:both; }
.photoPreview .photoDesc { float:left; margin-left:5px; }
.photoPreview .photoItem input, .photoPreview .photoItem textarea { width:300px; margin-top:5px; }
.photoPreview .photoItem img { max-width:200px; max-height:200px; float:left; }
.photoPreview .photoItem .photoDel { margin:5px 0 0 5px; }
.photoPreview .photoItem .classClose { font-size:13px; cursor:pointer; }
.clearfx { clear:both; }
