<div class="BannerDiv">
	知識平台</div>
<div align="right" style="padding-right: 12px">
	<form style="margin: 0px">
		<input name="incfn" type="hidden" value="list.php" /> <input name="cid" type="hidden" /> <input name="keyword" type="text" /><input align="absMiddle" name="Submit" src="/images/search.jpg" type="image" value="搜尋" />搜尋</form>
</div>
<p>
	<span style="color: #ff0000"><strong><span style="font-size: 12px">★紅字部分之上傳內容請轉成無法列印複製之pdf檔案型態</span></strong></span></p>
<table border="2" cellpadding="0" cellspacing="1" height="1496" width="730">
	<tbody>
		<tr bgcolor="#7b0c13" style="color: #fff">
			<th width="88">
				第一層</th>
			<th width="123">
				第二層</th>
			<th width="235">
				第三層</th>
			<th width="72">
				召集人</th>
			<th width="192">
				組員/版主</th>
		</tr>
		<tr bgcolor="#ffb891">
			<td bgcolor="#f4e1e0" rowspan="9" style="text-align: center" width="88">
				個案服務</td>
			<td bgcolor="#f4e1e0" width="123">
				極早期療育</td>
			<td bgcolor="#f4e1e0" width="235">
				　</td>
			<td bgcolor="#f4e1e0" rowspan="9" style="text-align: center">
				蔡淑芬</td>
			<td bgcolor="#f4e1e0">
				朱貞歷主任</td>
		</tr>
		<tr>
			<td bgcolor="#f4e1e0" width="123">
				早期療育</td>
			<td bgcolor="#f4e1e0" width="235">
				　</td>
			<td bgcolor="#f4e1e0">
				張素梅副主任</td>
		</tr>
		<tr>
			<td bgcolor="#f4e1e0" width="123">
				極重多障</td>
			<td bgcolor="#f4e1e0" width="235">
				早療、成人</td>
			<td bgcolor="#f4e1e0">
				賴乙欣組長</td>
		</tr>
		<tr>
			<td bgcolor="#f4e1e0">
				生活支持服務</td>
			<td bgcolor="#f4e1e0" width="235">
				日間托育、住宿服務</td>
			<td bgcolor="#f4e1e0">
				陳衍妙組長、陳祐榕組長</td>
		</tr>
		<tr>
			<td bgcolor="#f4e1e0">
				技能養成服務</td>
			<td bgcolor="#f4e1e0" width="235">
				日間托育、住宿服務</td>
			<td bgcolor="#f4e1e0">
				黃麗娟組長、許婉如組長</td>
		</tr>
		<tr>
			<td bgcolor="#f4e1e0">
				職業訓練服務</td>
			<td bgcolor="#f4e1e0" width="235">
				日間托育、住宿服務</td>
			<td bgcolor="#f4e1e0">
				汪惠婷</td>
		</tr>
		<tr>
			<td bgcolor="#f4e1e0">
				庇護就業服務</td>
			<td bgcolor="#f4e1e0" width="235">
				　</td>
			<td bgcolor="#f4e1e0">
				蕭百珍副主任、宋孝萱組長</td>
		</tr>
		<tr>
			<td bgcolor="#f4e1e0">
				社區就業服務</td>
			<td bgcolor="#f4e1e0" width="235">
				　</td>
			<td bgcolor="#f4e1e0">
				林麗娜組長</td>
		</tr>
		<tr>
			<td bgcolor="#f4e1e0">
				居住服務</td>
			<td bgcolor="#f4e1e0" width="235">
				社區居住、住宿服務</td>
			<td bgcolor="#f4e1e0">
				林網市主任</td>
		</tr>
		<tr>
			<td bgcolor="#fccdc8" rowspan="14" style="text-align: center" width="88">
				專業服務</td>
			<td bgcolor="#fccdc8">
				時段療育</td>
			<td bgcolor="#fccdc8" width="235">
				到宅、巡輔、據點等</td>
			<td bgcolor="#fccdc8" rowspan="14" style="text-align: center">
				陳貞如</td>
			<td bgcolor="#fccdc8">
				劉怡鈴</td>
		</tr>
		<tr>
			<td bgcolor="#fccdc8">
				社區參與</td>
			<td bgcolor="#fccdc8" width="235">
				早療、成人</td>
			<td bgcolor="#fccdc8">
				丁尹伽</td>
		</tr>
		<tr>
			<td bgcolor="#fccdc8">
				弱勢婦女</td>
			<td bgcolor="#fccdc8" width="235">
				一般、特境</td>
			<td bgcolor="#fccdc8">
				柯美蓉副組長</td>
		</tr>
		<tr>
			<td bgcolor="#fccdc8" width="123">
				個案管理</td>
			<td bgcolor="#fccdc8" width="235">
				早療/成人/通報</td>
			<td bgcolor="#fccdc8">
				陳育恩組長</td>
		</tr>
		<tr>
			<td bgcolor="#fccdc8">
				社會企業</td>
			<td bgcolor="#fccdc8" width="235">
				新知、其他機構成功經驗</td>
			<td bgcolor="#fccdc8">
				杜國萍副主任</td>
		</tr>
		<tr>
			<td bgcolor="#fccdc8">
				休閒服務</td>
			<td bgcolor="#fccdc8" width="235">
				身障者及其家屬</td>
			<td bgcolor="#fccdc8">
				曾玉琳</td>
		</tr>
		<tr>
			<td bgcolor="#fccdc8">
				親職教育</td>
			<td bgcolor="#fccdc8" width="235">
				<span style="color: #ff0000">家長座談、親職講座、喘息活動等之計畫、講義</span></td>
			<td bgcolor="#fccdc8">
				許玉妹</td>
		</tr>
		<tr>
			<td bgcolor="#fccdc8">
				社區資源</td>
			<td bgcolor="#fccdc8" width="235">
				正式資源、非正式資源之教育、經濟、安置、醫療等</td>
			<td bgcolor="#fccdc8">
				謝明娟組長</td>
		</tr>
		<tr>
			<td bgcolor="#fccdc8">
				成長團體</td>
			<td bgcolor="#fccdc8" width="235">
				<span style="color: #ff0000">兒童、青少年、婦女、成人就業、家長等成長團體之計畫、講義</span></td>
			<td bgcolor="#fccdc8">
				陳佳綺副組長</td>
		</tr>
		<tr>
			<td bgcolor="#fccdc8">
				教學活動</td>
			<td bgcolor="#fccdc8" width="235">
				<span style="color: #ff0000">課程設計、教案分享、教學範例、教學影片</span></td>
			<td bgcolor="#fccdc8">
				黃玉鳳副主任</td>
		</tr>
		<tr>
			<td bgcolor="#fccdc8">
				轉銜安置</td>
			<td bgcolor="#fccdc8" width="235">
				能力轉銜、屆齡轉銜教育資訊、家長/專業經驗分享、生涯轉銜等</td>
			<td bgcolor="#fccdc8">
				余如卿組長</td>
		</tr>
		<tr>
			<td bgcolor="#fccdc8">
				專業實習</td>
			<td bgcolor="#fccdc8" width="235">
				醫療、復健、社工、教保、其他之實習辦法、實習成果</td>
			<td bgcolor="#fccdc8">
				陳姿羽</td>
		</tr>
		<tr>
			<td bgcolor="#fccdc8">
				專業研習</td>
			<td bgcolor="#fccdc8" width="235">
				<span style="color: #ff0000">研討會、成果發表會、專業知能研</span>習(含手冊講義、計畫)</td>
			<td bgcolor="#fccdc8">
				傅宜新</td>
		</tr>
		<tr>
			<td bgcolor="#fccdc8">
				出版品</td>
			<td bgcolor="#fccdc8" width="235">
				<span style="color:#ff0000;">書籍、教師手冊、成果彙編、宣導手冊、影音</span></td>
			<td bgcolor="#fccdc8">
				高玉鳳</td>
		</tr>
		<tr>
			<td bgcolor="#f4e1e0" rowspan="8" style="text-align: center" width="88">
				醫療復健</td>
			<td bgcolor="#f4e1e0">
				醫療服務</td>
			<td bgcolor="#f4e1e0" width="235">
				醫療新知(家醫科、兒科、復健科、精神科、牙科、婦科、眼科等)<br />
				各大醫院資訊</td>
			<td bgcolor="#f4e1e0" rowspan="8" style="text-align: center">
				劉純晶</td>
			<td bgcolor="#f4e1e0">
				林惠娟</td>
		</tr>
		<tr>
			<td bgcolor="#f4e1e0">
				輔助治療服務</td>
			<td bgcolor="#f4e1e0" width="235">
				藝術治療<br />
				音樂治療<br />
				園藝治療<br />
				動物治療<br />
				行為治療<br />
				水中治療<br />
				體適能</td>
			<td bgcolor="#f4e1e0">
				<div>
					王慧貞主任</div>
				<div>
					林佩昕</div>
			</td>
		</tr>
		<tr>
			<td bgcolor="#f4e1e0" width="123">
				物理治療</td>
			<td bgcolor="#f4e1e0" width="235">
				早療、成人</td>
			<td bgcolor="#f4e1e0">
				朱怡菁督導、王銘儀</td>
		</tr>
		<tr>
			<td bgcolor="#f4e1e0" width="123">
				職能治療</td>
			<td bgcolor="#f4e1e0" width="235">
				早療、成人</td>
			<td bgcolor="#f4e1e0">
				許莉莉督導、許馨宜</td>
		</tr>
		<tr>
			<td bgcolor="#f4e1e0" width="123">
				語言治療</td>
			<td bgcolor="#f4e1e0" width="235">
				早療、成人</td>
			<td bgcolor="#f4e1e0">
				李琇菁主任</td>
		</tr>
		<tr>
			<td bgcolor="#f4e1e0">
				復健輔具服務</td>
			<td bgcolor="#f4e1e0" width="235">
				輔具評估、諮詢<br />
				輔具製作、維修<br />
				輔具回收、租借</td>
			<td bgcolor="#f4e1e0">
				劉淵植組長</td>
		</tr>
		<tr>
			<td bgcolor="#f4e1e0">
				健康促進</td>
			<td bgcolor="#f4e1e0" width="235">
				(營養、衛教)</td>
			<td bgcolor="#f4e1e0">
				林俐君(職護)</td>
		</tr>
		<tr>
			<td bgcolor="#f4e1e0">
				感染控制</td>
			<td bgcolor="#f4e1e0" width="235">
				機構感染控制</td>
			<td bgcolor="#f4e1e0">
				楊淑真組長</td>
		</tr>
		<tr>
			<td bgcolor="#fccdc8" rowspan="8" style="text-align: center" width="88">
				管理服務</td>
			<td bgcolor="#fccdc8" rowspan="2">
				經營管理</td>
			<td bgcolor="#fccdc8" width="235">
				<span style="color: #ff0000">主管讀書會、危機管理</span></td>
			<td bgcolor="#fccdc8" rowspan="8" style="text-align: center">
				顏惠櫻</td>
			<td bgcolor="#fccdc8" rowspan="2">
				江孟珍主任</td>
		</tr>
		<tr>
			<td bgcolor="#fccdc8" width="235">
				<span style="color: #ff0000">內部經驗分享</span>(讀書會、出國報告、成果報告、研究報告、專利)</td>
		</tr>
		<tr>
			<td bgcolor="#fccdc8">
				人力資源</td>
			<td bgcolor="#fccdc8" width="235">
				管理新知、勞動相關法規、勞健保險、講師資料、員工教育訓練(含各中心資料)</td>
			<td bgcolor="#fccdc8">
				藍雪玉</td>
		</tr>
		<tr>
			<td bgcolor="#fccdc8">
				行政總務</td>
			<td bgcolor="#fccdc8" width="235">
				採購、產品新知、車輛、公安、財產保險新知</td>
			<td bgcolor="#fccdc8">
				鄭昆源</td>
		</tr>
		<tr>
			<td bgcolor="#fccdc8">
				財務管理</td>
			<td bgcolor="#fccdc8" width="235">
				會計新知、出納新知、徵信管理、理財資訊、<span style="color: #ff0000">預算範例分享</span></td>
			<td bgcolor="#fccdc8">
				李同正主任</td>
		</tr>
		<tr>
			<td bgcolor="#fccdc8">
				雲端發展</td>
			<td bgcolor="#fccdc8" width="235">
				資訊新知</td>
			<td bgcolor="#fccdc8">
				林浩棟主任</td>
		</tr>
		<tr>
			<td bgcolor="#fccdc8">
				資訊業務</td>
			<td bgcolor="#fccdc8" width="235">
				網路管理/資訊安全、防毒資訊、簡易維修/使用</td>
			<td bgcolor="#fccdc8">
				丘世良</td>
		</tr>
		<tr>
			<td bgcolor="#fccdc8">
				教育訓練</td>
			<td bgcolor="#fccdc8" width="235">
				新進訓練、全員訓練、社工人身安全、善意溝通訓練</td>
			<td bgcolor="#fccdc8">
				陳麗慧</td>
		</tr>
		<tr>
			<td bgcolor="#f4e1e0" rowspan="5" style="text-align: center" width="88">
				社會服務</td>
			<td bgcolor="#f4e1e0">
				公共事務</td>
			<td bgcolor="#f4e1e0" width="235">
				募款專案成果冊、媒體經營、新聞稿、記者會、公關名單</td>
			<td bgcolor="#f4e1e0" rowspan="5" style="text-align: center">
				陳麗娟</td>
			<td bgcolor="#f4e1e0">
				林格光</td>
		</tr>
		<tr>
			<td bgcolor="#f4e1e0">
				志願服務</td>
			<td bgcolor="#f4e1e0" width="235">
				志工服務、管理</td>
			<td bgcolor="#f4e1e0">
				何思儀組長</td>
		</tr>
		<tr>
			<td bgcolor="#f4e1e0">
				參訪簡介</td>
			<td bgcolor="#f4e1e0" width="235">
				雙月刊、基金會與各中心、方案簡報與影像資料、(包含代言人CF)</td>
			<td bgcolor="#f4e1e0">
				姚柔柔、劉明婷</td>
		</tr>
		<tr>
			<td bgcolor="#f4e1e0">
				宣導活動</td>
			<td bgcolor="#f4e1e0" width="235">
				<span style="color: #ff0000">活動計畫、成果評估表</span>、摘要表<br />
				例如轉銜宣導、就業宣導、保健宣導、婦女福利宣導、校園宣導、早療宣導、社區宣導</td>
			<td bgcolor="#f4e1e0">
				洪瑞豐組長、林純純副組長</td>
		</tr>
		<tr>
			<td bgcolor="#f4e1e0">
				生命教育</td>
			<td bgcolor="#f4e1e0" width="235">
				愛的魔法盒-小學生公益行動、研習營、紀錄片講座</td>
			<td bgcolor="#f4e1e0">
				朱庭葳</td>
		</tr>
	</tbody>
</table>
<br />
