@charset "utf-8";
/* CSS Document */

body { 
  background-color: #f3cac4;
  font-family:Verdana, Geneva, sans-serif,"微軟正黑體";	

}

.pinkBtn {
  color: #fff;
  background-color: #eb717d;
  border-color: #ff8e99;
}

.pinkBG {
  color: #fff;
  background-color: #eb717d;
}
.menubtn{
  color: #ffffff;
  font-size:30px;
  cursor:pointer;
}

/* index.php ------------------------------------------------------------------------------------------ */
.headDiv {
  background: url("../../css/default/bg.gif");  
}
.headTxt {
	font-size: 16px;
	color: #333;
	padding-bottom: 10px;
  background-image : url("../../css/default/pic2.jpg");
  background-repeat : no-repeat; 
  background-position: right;
  height: 126px;
  vertical-align: bottom;
}

.lgInfo {
  position: relative;
  top: 47px;
}

.panTitleSmall {
	font-family: "微軟正黑體", Verdana;
	font-size: 15px;
	font-weight: bold;
}
.panText {
	font-family: "微軟正黑體", Verdana;
	font-size: 14px;
}
.panTextSmall {
	font-family: "微軟正黑體", Verdana;
	font-size: 12px;
	line-height: 1.5em;
}

/* login.php  ------------------------------------------------------------------------------------------ */
#main { 
  background-color: #F9E5E2;
  margin-top: 20px;
  padding: 20px;
  border-radius: 20px;
}

#logo {
  padding: 30px;
  width: 100%;
}

.checkBox{
  text-align: center;
  font-size: smaller
}
.bigCB {
  position:relative;
  width: 20px;
  height: 20px;
}

input[type="checkbox"]{
  -webkit-appearance: none;
  vertical-align:middle;
  margin-top:0;
  background:#fff;
  border:#ff8e99 solid 1px;
  border-radius: 3px;
  min-height: 12px;
  min-width: 12px;
}
input[type="checkbox"]:checked {
  background: #eb717d;
}
input[type=checkbox]:checked::after{
  content: '';
  top: 2px;
  left: 3px;
  position: absolute;
  background: transparent;
  border: #fff solid 2px;
  border-top: none;
  border-right: none;
  height: 8px;
  width: 12px;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg); 
  transform: rotate(-45deg);
}

/* sidebar Navigator -------------------------------------------------------------------------------------------- */
#inc_main {
  padding-top: 70px;
}

.elipseDiv {
  padding: 5px;
  margin: 0 -5px;
  border: 1px solid #f0f0f0;
  border-radius: 8px;
  color: #ffffff;
  background-color: #7A0015;
  font-weight: bold;
}
.footDiv {
  position: fixed;
  bottom: 0;
  margin: 0 -20px;
  color: #ffffff;
  text-align: center;
  width: 105%;
  background-color: #7A0015;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 30px;
  color: #ffffff;
  background: linear-gradient(315deg, rgb(123, 19, 18) 40%, rgb(60, 10, 10, 1) 80%);
}
.shadowD { box-shadow: 2px 1px 6px 1px #242424; }
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
  white-space:nowrap;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 15px;
  font-size: 36px;
}
.sidenav hr {
  width: 80%;
  border-top: 2px inset rgba(255,255,255,.7);
} 

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}