<table width="100%" border="0" cellpadding="4" cellspacing="0" style="border:0;margin-top: 5px;">
  <tr>
    <td align="right" bgcolor="#EEEEEE">機構編號</td>
    <td>{#id}</td>
    <td align="right" bgcolor="#EEEEEE">機構名稱</td>
    <td>{#titlefull}</td>
    <td align="right" bgcolor="#EEEEEE">機構簡稱</td>
    <td>{#title}</td>
  </tr>
  <tr>
    <td align="right" bgcolor="#EEEEEE">聯絡電話</td>
    <td>{#tel}</td>
    <td align="right" bgcolor="#EEEEEE">傳真電話</td>
    <td>{#fax}</td>    
    <td align="right" bgcolor="#EEEEEE">電子郵件</td>
    <td>{#email}</td>
  </tr>
  <tr>
    <td align="right" bgcolor="#EEEEEE">負責人</td>
    <td>{#leader}</td>
    <td align="right" bgcolor="#EEEEEE">統一編號</td>
    <td>{#invno}</td>
    <td align="right" bgcolor="#EEEEEE">機構網址</td>
    <td>{#url}</td>
  </tr>
<!--   <tr>
    <td align="right" bgcolor="#EEEEEE">營業別</td>
    <td>{#bType}</td>
    <td align="right" bgcolor="#EEEEEE">往來狀況</td>
    <td>{#states}</td>
    <td align="right" bgcolor="#EEEEEE">等級</td>
    <td>{#levels}</td>
  </tr> -->
  <tr>
    <td align="right" bgcolor="#EEEEEE">郵遞區號</td>
    <td>{#PosCode}</td>
    <td align="right" bgcolor="#EEEEEE">公司地址</td>
    <td colspan="3">{#address}</td>
  </tr> 
  <tr>
    <td align="right" bgcolor="#EEEEEE">備註</td>
    <td colspan="5">{#notes}</td>
  </tr>
</table>
