/*** 2層 3D 2標題 表格 ***/
	/* 使用背景色方式，因此無法用於列印 */
	/* 由 cellspacing 控制邊線寬度, 其他必要屬性：無 */
.l2table {
	font-family: "新細明體", Verdana;
	border: 0px solid;
	background-color: #8595cb;
	font-size: 9pt;
}
.l2th {
	background-color: #ABB6DC;
	border-top-width: 1px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #FFFFFF;
	border-left-color: #FFFFFF;
}
.l2td {
	border-top-width: 1px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #FFFFFF;
	border-left-color: #FFFFFF;
}

.l1table {
	border: 1px solid #0058B0;
	font-family: "新細明體", Verdana;
	font-size: 12px;
}

.l1th {
	background-color: #004080;
	color: #FFFFFF;
	background-image: url(images/bg2.gif);
	font-size: 13px;
}

.lower {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #FFFFFF;
	border-bottom-color: #FFFFFF;
	border-top-color: #CCCCCC;
	border-left-color: #CCCCCC;
}

.btn {
	background-color:#336699;
	color:#d2d8ec;
	padding-top:4px;
	width:70px;
	border-top: 1px solid #FFFFFF;
	border-right: 1px solid #004080;
	border-bottom: 1px solid #004080;
	border-left: 1px solid #FFFFFF;
	font-family: "新細明體", Verdana;
	font-size: 12px;
}
.sText {
	font-family: "新細明體", Verdana;
	font-size: 12px;
}
