@charset "utf-8";
.top {
	background-color: #336F84;
}
.map-c {
	background-color: #BBD2D8;
}
.as01 {
	background-image: url(images/as01.gif);
}
.number {
	font-family: "細明體", "AvantGarde Bk BT";
	font-size: 12px;
	color: #FF0000;
	text-align: center;
}
.date {
	font-family: "細明體", "AvantGarde Bk BT";
	font-size: 12px;
	color: #993300;
	text-align: center;
}
.right {
	text-align: right;
}
.login {
	font-family: "細明體", "AvantGarde Bk BT";
	font-size: 13px;
	text-align: left;
}
.login-number {
	font-family: "細明體", "AvantGarde Bk BT";
	font-size: 13px;
	text-align: right;
}
.title {
	font-family: "新細明體";
	font-size: 15px;
	color: #336F84;
	text-align: left;
	font-weight: bold;
	letter-spacing: 3px;
}
.title-line {
	background-image: url(images/title-line.gif);
}
.account {
	font-family: "細明體", "AvantGarde Bk BT";
	font-size: 11px;
	color: #999999;
	text-align: left;
}
.frame {
	border: 2px solid #336F84;
}
.t-01 {
	font-family: "細明體", "AvantGarde Bk BT";
	font-size: 12px;
	color: #FFFFFF;
	background-color: #336F84;
	text-align: center;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #BBD2D8;
	line-height: 40px;
}
.t-02 {

	font-family: "細明體", "AvantGarde Bk BT";
	font-size: 12px;
	color: #FFFFFF;
	background-color: #336F84;
	text-align: center;
	line-height: 40px;
}
.msn {
	font-family: "細明體", "AvantGarde Bk BT";
	font-size: 12px;
	line-height: 30px;
	color: #000000;
	text-align: left;
	text-indent: 15px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #BBD2D8;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #BBD2D8;
}
.logintime {
	font-family: "細明體", "AvantGarde Bk BT";
	font-size: 11px;
	color: #000000;
	text-align: center;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #BBD2D8;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #BBD2D8;
}
.code {
	font-family: "細明體", "AvantGarde Bk BT";
	font-size: 12px;
	color: #000000;
	text-align: center;
	text-indent: 0px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-bottom-style: solid;
	border-left-style: solid;
	border-bottom-color: #BBD2D8;
	border-left-color: #BBD2D8;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #BBD2D8;
}
.copyright-c {
	font-family: "細明體", "AvantGarde Bk BT";
	font-size: 12px;
	color: #000000;
	background-color: #E6E7E8;
	text-align: center;
}
.copyright-shadow {
	background-image: url(images/copyright-shadow.gif);
}
.copyright-shadow01 {
	background-image: url(images/copyright-shadow01.gif);
}
.copyright-shadow03 {
	background-image: url(images/copyright-shadow03.gif);
}
.copyright-01 {
	font-family: "細明體", "AvantGarde Bk BT";
	font-size: 11px;
	color: #000000;
	text-align: left;
	line-height: 15px;
	letter-spacing: 1px;
}
.copyright-02 {
	font-family: "細明體", Arial;
	font-size: 11px;
	color: #000000;
	text-align: left;
	line-height: 16px;
	vertical-align: top;
}
.copyright-03 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	text-align: left;
	line-height: 16px;
	vertical-align: top;
	letter-spacing: 0px;
}
.banner-mapimage {
	/* background-image: url(images/title-map-image.gif); */
	font:bold 24px "微軟正黑體",Verdana;
	color:#043A44;
	background-color: #BBD2D8;
}
.item {
	font-family: "細明體", "AvantGarde Bk BT";
	font-size: 12px;
	text-align: left;
	text-indent: 25px;
	line-height: 20px;
}
.funcname {
	font:bold 16px "微軟正黑體",Verdana;
	color: #3E0000;
	width:100%;
	text-align:right;
	padding-right: 1em;
	padding-bottom: 12px;
}