.sText			{ FONT-SIZE: 9pt }
.Small			{ FONT-SIZE: 9pt }
.FontW			{ Color:#FFFFFF }

.sLink			{ font-size: 9pt; text-decoration: underline; color: #000080; cursor:hand }

.fxText			{ FONT-FAMILY: "新細明體"; FONT-SIZE: 12pt }

.bgTextD  	{ background-color: #808000; color: #FFFFFF }

.sBtn				{ FONT-FAMILY: 新細明體; FONT-SIZE: 9pt; HEIGHT: 16pt }

.sGrayBtn		{ FONT-FAMILY: 新細明體; FONT-SIZE: 9pt; HEIGHT: 16pt; background-color: #D0D0D0 }

.sBlueBtn   { font-size: 9pt; color: #0000FF; background-color: #D0D0D0; HEIGHT: 16pt }

.OrangeBtn	{ color:white; background-color: orange }

.BlueBtn		{ color:white; background-color: #006699; font-weight: bold }

.DirtBtn    { color:#606000; background-color: #AABAA3; font-size: 11pt; font-weight: bold }


