<style type="text/css">
  .cLabel {
    text-align: center;
    background-color: #EEE;
    border: 1px solid #333333;
    padding: 4px 8px 4px 4px;
  }

 .colData {
  text-align: center;
 }
 .tdTitle {
  text-align: center;
  font-size: 14px;
  font-weight: bolder;
 }

</style>
<div style="display: none;">{#id}{#groupType}{#depID}{#invNo}{#planID}{#showTitle}</div>
<h3 style="text-align: center;">財團法人瑪利亞社會福利基金會</h3>
<h3 style="text-align: center;">{#year}年度資本支出預算表</h3>
<h4 id="showTitle"></h4>
<table id="dataTable">
  <tr>
    <td class="cLabel">八萬以上設施設備\<br>修繕工程項目</td>
    <td class="cLabel">單價</td>
    <td class="cLabel">數量</td>
    <td class="cLabel">單位</td>
    <td class="cLabel">經費概算</td>
    <td class="cLabel">補捐助單位</td>
    <td class="cLabel">補助金額</td>
    <td class="cLabel">捐款金額</td>
    <td class="cLabel">自籌金額</td>
    <td class="cLabel">購置日期</td>
  </tr>
  
</table>
<table>
<tr>
    <td colspan="4" class="rowSubmit"><input type="hidden" name="ListFmParams"><button type="button" class="cancilBtn" onclick="history.back()">確定</button></td>
  </tr>
</table>
<script src="dataControl.js" type="text/javascript"></script>
<script type="text/javascript">
  $(function(){
    ajaxCheck('edit', $('[name="id"]').val());
  })
</script>
