<style type="text/css">
  .oddTr td:first-child {
     border-bottom: solid 1px #aaa;
  }
  .oddTr td:last-child {
     border-bottom: solid 1px #aaa;
  }
  .threeTr td{
      border-bottom: solid 1px #aaa;
  }
</style>
<h3 style="margin-bottom: 10px;">服務收入-新增</h3>
<table id="newTable" width="100%" border="0" cellpadding="4" cellspacing="0">
  <tr class="oddTr" data-one-tr="1">
    <td rowspan="3">1.</td>
    <td bgcolor="#EEEEEE">子計畫</td>
    <td>{#fid[]}{#sid[]}{#_sid[]}</td>
    <td bgcolor="#EEEEEE">學生姓名</td>
    <td>{#name[]}</td>
    <td bgcolor="#EEEEEE">障別</td>
    <td>{#impGrade[]}</td>
    <td bgcolor="#EEEEEE">補助月數</td>
    <td>{#monthNum[]}</td>
    <td rowspan="3"><a href="javascript:void(0)" onclick="addTr()">增加</a></td>
  </tr>
  <tr class="evenTr" data-two-tr="1">
    <td bgcolor="#EEEEEE">月費全額</td>
    <td data-month="1">{#monthPay[]}</td>
    <td bgcolor="#EEEEEE">補助照顧費</td>
    <td data-aid="1">{#aidTrainPay[]}</td>
    <td bgcolor="#EEEEEE">自付照顧費</td>
    <td data-self="1">{#selfTrainPay[]}</td>
    <td></td>
    <td></td>
  </tr>
  <tr class="threeTr" data-three-tr="1">
    <td bgcolor="#EEEEEE">交通費全額</td>
    <td>{#allTrafficPay[]}</td>
    <td bgcolor="#EEEEEE">補助交通費</td>
    <td>{#aidTrafficPay[]}</td>
    <td bgcolor="#EEEEEE">自付交通費</td>
    <td>{#selfTrafficPay[]}</td>
    <td></td>
    <td></td>
  </tr>

 
 <tr>
    <td colspan="16" align="center" bgcolor="#999999">
      <input type="submit" id="Submit" value="送出" />
      <input type="reset"  id="Reset" value="重設" />
      <input type="button" value="取消" onclick="window.close();" />
    </td>
  </tr>
</table>

<script type="text/javascript">
var newTr = [];
$(function(){
  if($('#newTable').length == 1) {
    newTr.push('<tr class="oddTr" data-one-tr="1">');
    newTr.push($('[data-one-tr="1"]').html());
    newTr.push('</tr>');
    newTr.push('<tr class="evenTr" data-two-tr="1">');
    newTr.push($('[data-two-tr="1"]').html());
    newTr.push('</tr>');
    newTr.push('<tr class="threeTr" data-three-tr="1">');
    newTr.push($('[data-three-tr="1"]').html());
    newTr.push('</tr>');
    newTr = newTr.join('');
  }
})

function addTr() {
  var k = parseInt($('[data-one-tr]:last').attr('data-one-tr')) + 1;
  addNewTr = newTr.replace(/data-one-tr="1"/,'data-one-tr="'+k+'"');
  addNewTr = addNewTr.replace(/<td rowspan="3">1/,'<td rowspan="3">'+k);
  addNewTr = addNewTr.replace(/data-two-tr="1"/,'data-two-tr="'+k+'"');
  addNewTr = addNewTr.replace(/data-month="1"/,'data-month="'+k+'"');
  addNewTr = addNewTr.replace(/data-aid="1"/,'data-aid="'+k+'"');
  addNewTr = addNewTr.replace(/data-self="1"/,'data-self="'+k+'"');
  addNewTr = addNewTr.replace(/data-three-tr="1"/,'data-three-tr="'+k+'"');
  $('[data-three-tr]:last').after(addNewTr);
  $('[data-one-tr] td:last').html('<a href="javascript:void(0)" onclick="addTr()">增加</a> / <a style="color:red;" href="javascript:void(0)" onclick="deleteTr('+k+')">刪除</a>');
}

function deleteTr(k) {
  $('[data-one-tr="'+k+'"]').remove();
  $('[data-two-tr="'+k+'"]').remove();
  $('[data-three-tr="'+k+'"]').remove();
}
</script>
