
<h3 style="margin-bottom: 10px;">服務收入-修改</h3>
<table id="newTable" width="100%" border="0" cellpadding="4" cellspacing="0">

  <tr class="oddTr" data-one-tr="1">
    <td rowspan="3">{#id}.</td>
    <td bgcolor="#EEEEEE">子計畫</td>
    <td>{#fid}{#sid}</td>
    <td bgcolor="#EEEEEE">學生姓名</td>
    <td>{#name}</td>
    <td bgcolor="#EEEEEE">障別</td>
    <td>{#impGrade}</td>
    <td bgcolor="#EEEEEE">補助月數</td>
    <td>{#monthNum}</td>
  </tr>
  <tr class="evenTr" data-two-tr="1">
    <td bgcolor="#EEEEEE">月費全額</td>
    <td data-month="1">{#monthPay}</td>
    <td bgcolor="#EEEEEE">補助照顧費</td>
    <td data-aid="1">{#aidTrainPay}</td>
    <td bgcolor="#EEEEEE">自付照顧費</td>
    <td data-self="1">{#selfTrainPay}</td>
    <td></td>
    <td></td>
  </tr>
  <tr class="threeTr" data-three-tr="1">
    <td bgcolor="#EEEEEE">交通費全額</td>
    <td>{#allTrafficPay}</td>
    <td bgcolor="#EEEEEE">補助交通費</td>
    <td>{#aidTrafficPay}</td>
    <td bgcolor="#EEEEEE">自付交通費</td>
    <td>{#selfTrafficPay}</td>
    <td></td>
    <td></td>
  </tr>

 
 <tr>
    <td colspan="16" align="center" bgcolor="#999999">
      <input type="submit" id="Submit" value="送出" />
      <input type="reset" id="Reset" value="重設" />
      <input type="button" value="取消" onclick="window.close();" />
    </td>
  </tr>
</table>

