<style type="text/css">
  .cLabel {
    text-align: center;
    background-color: #EEE;
    border: 1px solid #333333;
    padding: 4px 8px 4px 4px;
  }
  .tab-pane div {
    padding: 5px;
  }
</style>
<div style="display: none">{#invNoList}</div>
{#creator}
<div>{#year} 年短中長程計劃, <div style="display:inline-block;">挑選方式：{#groupType}</div></div>

<div data-show-type="depID" style="display:none;">機構/中心：{#depIDQuery}<table id="depIDTable" style="width: auto;"></table></div>
<div data-show-type="invNo" style="display:none;">統一編號：<table id="invNoTable"></table></div>
<div data-show-type="planID" style="display:none;">計劃主檔：{#planIDQuery}<table id="planIDTable"></table></div>
{#depID}
{#invNo}
{#planID}
<div class="tabbable tabbable-custom" style="margin-top: 20px;">
  <ul  class="nav nav-tabs">
    <li class="active" data-year-ul="1"><a href="#tab1" data-toggle="tab">第一年</a></li>
    <li data-year-ul="2"><a href="#tab2" data-toggle="tab">第二年</a></li>
    <li data-year-ul="3"><a href="#tab3" data-toggle="tab">第三年</a></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
        <div data-aims="1">
          <div>目標1: <input name="plan1[1][1][aims]" type="text" value="" style="width:300px;"><a href="javascript:void(0)" onclick="addAims(1)">增加</a> / <a style="color:red;" href="javascript:void(0)" onclick="delAims(1, 1)">刪除</a></div>
          <div data-type="content" style="margin-left:40px;">服務/計畫內容:
            <div data-content="1">1.<textarea name="plan1[1][1][content][]" rows="2" cols="100"></textarea><a href="javascript:void(0)" onclick="addContent('content', 1, 1)">增加</a> / <a style="color:red;" href="javascript:void(0)" onclick="delContent('content', 1, 1, 1)">刪除</a></div>
          </div>
          <div data-type="benefit" style="margin-left:40px;">具體績效/預期效益:
            <div data-benefit="1">1.<textarea name="plan1[1][1][benefit][]"  rows="2" cols="100"></textarea><a href="javascript:void(0)" onclick="addContent('benefit', 1, 1)">增加</a> / <a style="color:red;" href="javascript:void(0)" onclick="delContent('benefit', 1, 1, 1)">刪除</a></div>
          </div>
        </div>

    </div>
    <div class="tab-pane" id="tab2">
        <div data-aims="1">
          <div>目標1: <input name="plan1[2][1][aims]" type="text" value="" style="width:300px;"><a href="javascript:void(0)" onclick="addAims(2)">增加</a> / <a style="color:red;" href="javascript:void(0)" onclick="delAims(2, 1)">刪除</a></div>
          <div data-type="content" style="margin-left:40px;">服務/計畫內容:
            <div data-content="1">1.<textarea name="plan1[2][1][content][]" rows="2" cols="100"></textarea><a href="javascript:void(0)" onclick="addContent('content', 2, 1)">增加</a> / <a style="color:red;" href="javascript:void(0)" onclick="delContent('content', 2, 1, 1)">刪除</a></div>
          </div>
          <div data-type="benefit" style="margin-left:40px;">具體績效/預期效益:
            <div data-benefit="1">1.<textarea name="plan1[2][1][benefit][]"  rows="2" cols="100"></textarea><a href="javascript:void(0)" onclick="addContent('benefit', 2, 1)">增加</a> / <a style="color:red;" href="javascript:void(0)" onclick="delContent('benefit', 2, 1, 1)">刪除</a></div>
          </div>
        </div>
    </div>
    <div class="tab-pane" id="tab3">
        <div data-aims="1">
          <div>目標1: <input name="plan1[3][1][aims]" type="text" value="" style="width:300px;"><a href="javascript:void(0)" onclick="addAims(3)">增加</a> / <a style="color:red;" href="javascript:void(0)" onclick="delAims(3, 1)">刪除</a></div>
          <div data-type="content" style="margin-left:40px;">服務/計畫內容:
            <div data-content="1">1.<textarea name="plan1[3][1][content][]" rows="2" cols="100"></textarea><a href="javascript:void(0)" onclick="addContent('content', 3, 1)">增加</a> / <a style="color:red;" href="javascript:void(0)" onclick="delContent('content', 3, 1, 1)">刪除</a></div>
          </div>
          <div data-type="benefit" style="margin-left:40px;">具體績效/預期效益:
            <div data-benefit="1">1.<textarea name="plan1[3][1][benefit][]"  rows="2" cols="100"></textarea><a href="javascript:void(0)" onclick="addContent('benefit', 3, 1)">增加</a> / <a style="color:red;" href="javascript:void(0)" onclick="delContent('benefit', 3, 1, 1)">刪除</a></div>
          </div>
        </div>
    </div>
  </div>
</div>

<table>
  <tr>
    <td colspan="4" class="rowSubmit"><input type="hidden" name="ListFmParams"><button type="submit" name="Submit" class="submitBtn" disabled="disabled" onclick="return formCheck();">確定新增</button><button type="button" class="cancilBtn" onclick="history.back()">取消新增</button></td>
  </tr>
</table>

<script src="dataControl.js" type="text/javascript"></script>
<script src="../report.js" type="text/javascript"></script>
<script type="text/javascript">
  $(function(){
     setYear();
  });
  /*$(function(){
    setYear();
   /* if($('[name="depID"]').val() != '') ajaxCheck();
    $('[name="year"]').change(function(){
      setYear();
      if($('[name="depID"]').val() != '') ajaxCheck();
    });

    $('[name="depID"]').change(function(){
      ajaxCheck();
    });*/


   /* var html = [];
    var i = 0;
    $('[name="invNoList"] option').each(function(){
      i++;
      if(i == 1) html.push('<tr>');
      html.push('<td style="text-align: left;"><label style="padding-right:10px;"><input type="checkbox" data-check="invNo" name="invNoCheck[]" value="'+$(this).val()+'">'+$(this).html()+'</label></td>');
      if(i == 4) {
            i = 0;
            html.push('</tr>');
        }
    });
    $('#invNoTable').css('width','initial');
    $('#invNoTable').html(html.join(''));

    $('[data-show-type="'+$('[name="groupType"]').val()+'"]').css('display','');


    $('[name="groupType"]').change(function(){
      $('[data-check]').prop('checked',false);
      $('[data-show-type]').css('display','none');
      $('[data-show-type="'+$(this).val()+'"]').css('display','');
      $('[name="depID"]').val('');
      $('[name="invNo"]').val('');
      $('#depIDTable').html('');
    });

    $('[data-check]').click(function(){
      var key = $(this).attr('data-check');
      var val = [];
      $('[data-check="'+key+'"]:checked').each(function(){
        val.push($(this).val());
      });
      $('[name="'+key+'"]').val(val.join(','));
      if($('[name="'+key+'"]').val() != '') ajaxCheck();
      else dataClear();
    });


  })*/

  /*function returnValue_multipleDepID(obj) {
    $('#depIDTable').html('');
    if(obj.length == 0) return false;

    var i = 0;
    var depIDData = [];
    var html = [];
    for(var j in obj) {
      i++;
      if(i == 1) html.push('<tr>');
      html.push('<td><label style="padding-right:10px;"><input type="checkbox" checked disabled>'+obj[j]['name']+'</label></td>');
      if(i == 6) {
        i = 0;
        html.push('</tr>');
      }
      depIDData.push(obj[j]['id']);
    }
    $('#depIDTable').html(html.join(''));
    $('[name="depID"]').val(depIDData.join(','));

    ajaxCheck();
 }*/

  function setYear(){
    var year = parseInt($('[name="year"]').val());
    $('[data-year]').each(function(){
      $(this).html(year+parseInt($(this).attr('data-year')));
    });
  }

  function formCheck() {
    if($('[name="depID"]').val() == '' && $('[name="invNo"]').val() == '' && $('[name="planID"]').val() == '') {
      return false;
    }
    return true;
  }

  //判斷是否重複 年度&部份
  function ajaxCheck(act, id) {
    $.ajax({
      url:'ajaxCheck.php',
      type:'post',
      dataType:'json',
      data:{
        year:$('[name="year"]').val(), 
        depID:$('[name="depID"]').val(),
        invNo:$('[name="invNo"]').val(),
        planID:$('[name="planID"]').val(),
        groupType:$('[name="groupType"]').val(),
      },
      success:function(data){
         console.log(data);
        $('[name="Submit"]').removeAttr('disabled');
        if(data['error'] == 1) {
          $('[name="Submit"]').attr('disabled','display');
          alert(data['msg']);
          $('[name="depID"]').val('');
        } else if(data['data']) {
          for(var i in data['data']) {
            setData(data['data'][i], i);
          }
        }

      }

    });
  }

</script>