<style type="text/css">
  .cLabel {
    text-align: center;
    background-color: #EEE;
    border: 1px solid #333333;
    padding: 4px 8px 4px 4px;
  }
   .tab-pane div {
    padding: 5px;
  }
</style>
<div style="display: none;">{#id}</div>
<div>{#year} 年短中長程計劃, <div style="display: inline-block;" id="showTitle"></div></div>


<div class="tabbable tabbable-custom" style="margin-top: 20px;">
  <ul  class="nav nav-tabs">
    <li class="active" data-year-ul="1"><a href="#tab1" data-toggle="tab">第一年</a></li>
    <li data-year-ul="2"><a href="#tab2" data-toggle="tab">第二年</a></li>
    <li data-year-ul="3"><a href="#tab3" data-toggle="tab">第三年</a></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="tab1">

    </div>
    <div class="tab-pane" id="tab2">
        
    </div>
    <div class="tab-pane" id="tab3">
        
    </div>
  </div>
</div>


<table>
  <tr>
    <td colspan="4" class="rowSubmit"><input type="hidden" name="ListFmParams"><button type="submit" name="Submit" class="submitBtn">確定修改</button><button type="button" class="cancilBtn" onclick="history.back()">取消修改</button></td>
  </tr>
</table>
<script src="dataControl.js" type="text/javascript"></script>
<script type="text/javascript">
  $(function(){
    setYear();
    $('#showYear').html($('[name="year"]').val());
    ajaxCheck($('[name="id"]').val());
  })

  function setYear(){
    var year = parseInt($('[name="year"]').val());
    $('[data-year]').each(function(){
      $(this).html(year+parseInt($(this).attr('data-year')));
    });
  }

</script>