<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<table cellpadding="3" width="900px">
	<tbody>
		<tr>
			<td colspan="2" style="text-align: center;">
				<span style="font-family:arial,helvetica,sans-serif;"><span style="font-size:26px;"><strong><span style="font-size:14px;">奕達精機股份有限公司</span></strong></span></span></td>
		</tr>
		<tr>
			<td colspan="2" style="text-align: center;">
				<span style="font-size:20px;"><font face="arial, helvetica, sans-serif">奕達精機股份有限公司</font></span></td>
		</tr>
		<tr>
			<td colspan="2" style="text-align: center;">
				<span style="font-family:arial,helvetica,sans-serif;"><span style="font-size:28px;"><strong><u>QUOTATION</u></strong></span></span></td>
		</tr>
		<tr>
			<td colspan="2" style="text-align: right;">&nbsp;
				</td>
		</tr>
		<tr>
			<td align="left" style="text-align: left;" width="469">
				<span style="font-family:arial,helvetica,sans-serif;"><span style="font-size:14px;">TO:</span></span></td>
			<td style="text-align: left;" width="411">
				<span style="font-family:arial,helvetica,sans-serif;"><span style="font-size:14px;">Date:May.4,2015</span></span></td>
		</tr>
		<tr>
			<td align="left" style="text-align: left;">
				<span style="font-family:arial,helvetica,sans-serif;"><span style="font-size:14px;"></span></span></td>
			<td style="text-align: left;">
				<span style="font-family:arial,helvetica,sans-serif;"><span style="font-size:14px;">台中市文心路三段445巷</span></span></td>
		</tr>
		<tr>
			<td align="left" style="text-align: left;">
				<span style="font-family:arial,helvetica,sans-serif;"><span style="font-size:14px;">TEL:</span></span></td>
			<td align="left" style="text-align: left;">
				<span style="font-family:arial,helvetica,sans-serif;"><span style="font-size:14px;">TEL:0437038989</span></span></td>
		</tr>
		<tr>
			<td align="left" style="text-align: left;">
				<span style="font-family:arial,helvetica,sans-serif;"><span style="font-size:14px;">FAX:</span></span></td>
			<td align="left" style="text-align: left;">
				<span style="font-family:arial,helvetica,sans-serif;"><span style="font-size:14px;">FAX:0437038888</span></span></td>
		</tr>
		<tr>
			<td >
				<p>
					<span style="font-family:arial,helvetica,sans-serif;"><span style="font-size:14px;">Contact Person:mabel</span></span></p>
			</td>
            <td >
				<p>
					<span style="font-family:arial,helvetica,sans-serif;"><span style="font-size:14px;">Quotation:201505041641-97</span></span></p>
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<table style="height: 30px; width: 100%; " cellspacing="0"><tr><td style="text-align: center;border-top: 1px solid #999;border-bottom: 1px solid #999;width:30px;padding:8px"><strong><span style="font-size:14px;font-family:arial,helvetica,sans-serif;">NO</span></strong></td><td style="text-align: center;border-top: 1px solid #999;border-bottom: 1px solid #999;width:130px;"><strong><span style="font-size:14px;font-family:arial,helvetica,sans-serif;">Model No. & Desc</span></strong></td><td style="text-align: center;border-top: 1px solid #999;border-bottom: 1px solid #999;width:60px;"><strong><span style="font-size:14px;font-family:arial,helvetica,sans-serif;">QTY</span></strong></td><td style="text-align: center;border-top: 1px solid #999;border-bottom: 1px solid #999;width:60px;"><strong><span style="font-size:14px;font-family:arial,helvetica,sans-serif;">DISCOUNT</span></strong></td><td style="text-align: center;border-top: 1px solid #999;border-bottom: 1px solid #999;width:100px;"><strong><span style="font-size:14px;font-family:arial,helvetica,sans-serif;">UNIT PRICE</span></strong></td><td style="text-align: center;border-top: 1px solid #999;border-bottom: 1px solid #999;width:80px;"><strong><span style="font-size:14px;font-family:arial,helvetica,sans-serif;">UNIT</span></strong></td><td style="text-align: center;border-top: 1px solid #999;border-bottom: 1px solid #999;width:100px;"><strong><span style="font-size:14px;font-family:arial,helvetica,sans-serif;">SPEC PRICE</span></strong></td><td style="text-align: center;border-top: 1px solid #999;border-bottom: 1px solid #999;width:100px;"><strong><span style="font-size:14px;font-family:arial,helvetica,sans-serif;">SUB TOTAL</span></strong></td><td style="text-align: center;border-top: 1px solid #999;border-bottom: 1px solid #999;width:150px;"><strong><span style="font-size:14px;font-family:arial,helvetica,sans-serif;">AFTER DISCOUNT</span></strong></td><td style="text-align: center;border-top: 1px solid #999;border-bottom: 1px solid #999;width:150px;"><strong><span style="font-size:14px;font-family:arial,helvetica,sans-serif;">NOTES</span></strong></td></tr><tr><td style='background:#ccc;padding:5px;font-size:14px;text-align:center;font-family:arial,helvetica,sans-serif;' colspan='10'>MV-1060</td></tr><tr><td style='padding:5px;font-size:14px;text-align:center;font-family:arial,helvetica,sans-serif;'>1</td><td style='padding:5px;font-size:14px;text-align:left;font-family:arial,helvetica,sans-serif;'>TABLE Vertical Machining Center(Linear Guide Way)</td><td style='padding:5px;font-size:14px;text-align:center;font-family:arial,helvetica,sans-serif;'>1</td><td style='padding:5px;font-size:14px;text-align:center;font-family:arial,helvetica,sans-serif;'>1.00</td><td style='padding:5px;font-size:14px;text-align:center;font-family:arial,helvetica,sans-serif;'></td><td style='padding:5px;font-size:14px;text-align:center;font-family:arial,helvetica,sans-serif;'></td><td style='padding:5px;font-size:14px;text-align:center;font-family:arial,helvetica,sans-serif;'>1800</td><td style='padding:5px;font-size:14px;text-align:center;font-family:arial,helvetica,sans-serif;'>1800.00</td><td style='padding:5px;font-size:14px;text-align:center;font-family:arial,helvetica,sans-serif;'>1800</td><td style='padding:5px;font-size:14px;text-align:center;font-family:arial,helvetica,sans-serif;'></td></tr><tr><td style='background:#ccc;padding:5px;font-size:14px;text-align:center;font-family:arial,helvetica,sans-serif;' colspan='10'>加減項</td></tr><tr><td style='padding:5px;font-size:14px;text-align:center;font-family:arial,helvetica,sans-serif;'>1</td><td style='padding:5px;font-size:14px;text-align:left;font-family:arial,helvetica,sans-serif;'></td><td style='padding:5px;font-size:14px;text-align:center;font-family:arial,helvetica,sans-serif;'>1</td><td style='padding:5px;font-size:14px;text-align:center;font-family:arial,helvetica,sans-serif;'>1.00</td><td style='padding:5px;font-size:14px;text-align:center;font-family:arial,helvetica,sans-serif;'>5%</td><td style='padding:5px;font-size:14px;text-align:center;font-family:arial,helvetica,sans-serif;'>&nbsp;</td><td style='padding:5px;font-size:14px;text-align:center;font-family:arial,helvetica,sans-serif;'>5415</td><td style='padding:5px;font-size:14px;text-align:center;font-family:arial,helvetica,sans-serif;'>5415.00</td><td style='padding:5px;font-size:14px;text-align:center;font-family:arial,helvetica,sans-serif;'>5415</td><td style='padding:5px;font-size:14px;text-align:center;font-family:arial,helvetica,sans-serif;'></td></tr><tr><td style='padding:5px;font-size:14px;text-align:center;font-family:arial,helvetica,sans-serif;'>2</td><td style='padding:5px;font-size:14px;text-align:left;font-family:arial,helvetica,sans-serif;'></td><td style='padding:5px;font-size:14px;text-align:center;font-family:arial,helvetica,sans-serif;'>1</td><td style='padding:5px;font-size:14px;text-align:center;font-family:arial,helvetica,sans-serif;'>1.00</td><td style='padding:5px;font-size:14px;text-align:center;font-family:arial,helvetica,sans-serif;'>100</td><td style='padding:5px;font-size:14px;text-align:center;font-family:arial,helvetica,sans-serif;'>&nbsp;</td><td style='padding:5px;font-size:14px;text-align:center;font-family:arial,helvetica,sans-serif;'>100</td><td style='padding:5px;font-size:14px;text-align:center;font-family:arial,helvetica,sans-serif;'>100.00</td><td style='padding:5px;font-size:14px;text-align:center;font-family:arial,helvetica,sans-serif;'>100</td><td style='padding:5px;font-size:14px;text-align:center;font-family:arial,helvetica,sans-serif;'></td></tr><tr><td colspan="8" style="text-align: right;border-top: 1px solid #999;padding:5px;"><span style="font-size:14px;font-family:arial,helvetica,sans-serif;padding:5px">SUB TOTAL:</span></td><td style="width:100px;text-align:center;border-top: 1px solid #999;"><span style="font-size:14px;font-family:arial,helvetica,sans-serif;padding:5px">1800</span></td><td style="border-top: 1px solid #999;"></td></tr><tr><td colspan="8" style="text-align: right;"><span style="font-size:14px;font-family:arial,helvetica,sans-serif;padding:5px">AFTER DISCOUNT:</span></td><td style="text-align:center"><span style="font-size:14px;font-family:arial,helvetica,sans-serif;padding:5px">108300</span></td><td>&nbsp;</td></tr><tr><td colspan="8" style="text-align: right;border-bottom: 1px solid #999;padding:5px;"><span style="font-size:14px;font-family:arial,elvetica,sans-serif;">EXTRA CHARGE:</span></td><td style="border-bottom: 1px solid #999;text-align:center;"><span style="font-size:14px;font-family:arial,helvetica,sans-serif;padding:5px">5515</span></td><td style="border-bottom: 1px solid #999;">&nbsp;</td></tr><tr><td colspan="8" style="text-align: right;border-bottom: 1px double #999;padding:5px;"><span style="font-size:14px;font-family:arial,helvetica,sans-serif;padding:5px">TOTAL:</span></td><td style="border-bottom: 1px double #999;text-align:center;"><span style="font-size:14px;font-family:arial,helvetica,sans-serif;padding:5px">113815</span></td><td style="border-bottom: 1px double #999;">&nbsp;</td></tr></table></td>
		</tr>
		<tr>
			<td colspan="2" style="padding:8px">
				<p>
					<span style="font-family:arial,helvetica,sans-serif;font-size: 16px;"><strong><u>CONDITIONS：</u></strong></span></p>
				<p>
					<span style="font-family:arial,helvetica,sans-serif;"><span style="font-size: 14px;">(1)Delivery:</span></span></p>
				<p>
					<span style="font-family:arial,helvetica,sans-serif;"><span style="font-size: 14px;">(2)Packing:</span></span></p>
				<p>
					<span style="font-family:arial,helvetica,sans-serif;"><span style="font-size: 14px;">(3)Terms of Payment:</span></span></p>
				<p>
					<span style="font-family:arial,helvetica,sans-serif;"><span style="font-size: 14px;">(4)Remarks:27190</span></span></p>
			</td>
		</tr>
		<tr>
			<td colspan="2" style="padding:12px">
				<p>
					<span style="font-family:arial,helvetica,sans-serif;font-size:16px"><strong>We hope the above weill meet with your approve and look forward to your earliest order.</strong></span></p>
			</td>
		</tr>
	</tbody>
</table>