
<h3 style="margin-bottom: 10px;">資本支出-修改</h3>
<table id="newTable" width="100%" border="0" cellpadding="4" cellspacing="0">

  <tr class="oddTr" data-one-tr="1">
    <td rowspan="3">{#id}.</td>
    <td bgcolor="#EEEEEE">子計畫</td>
    <td>{#fid}{#sid}</td>
    <td bgcolor="#EEEEEE">八萬以上設備/工程</td>
    <td>{#title}</td>
    <td bgcolor="#EEEEEE">購入日期</td>
    <td>{#buyDate}</td>
  </tr>
  <tr class="evenTr" data-two-tr="1">
    <td bgcolor="#EEEEEE">單價</td>
    <td>{#price}</td>
    <td bgcolor="#EEEEEE">數量</td>
    <td>{#quantity}</td>
    <td bgcolor="#EEEEEE">單位</td>
    <td>{#unit}</td>
  </tr>
  <tr class="threeTr" data-three-tr="1">
    <td bgcolor="#EEEEEE">補捐助單位</td>
    <td>{#source}</td>
    <td bgcolor="#EEEEEE">補助金額</td>
    <td>{#sourceMoney}</td>
    <td bgcolor="#EEEEEE">捐款金額</td>
    <td>{#donate}</td>
  </tr>

 
 <tr>
    <td colspan="16" align="center" bgcolor="#999999">
      <input type="submit" id="Submit" value="送出" />
      <input type="reset" id="Reset" value="重設" />
      <input type="button" value="取消" onclick="window.close();" />
    </td>
  </tr>
</table>

