
<h3 style="margin-bottom: 10px;">經費預算-修改</h3>
<table id="newTable" width="100%" border="0" cellpadding="4" cellspacing="0">
  <tr class="oddTr" data-one-tr="1">
    <td rowspan="2">{#id}.</td>
    <td bgcolor="#EEEEEE">子計畫</td>
    <td>{#fid}{#sid}</td>
    <td bgcolor="#EEEEEE">姓名</td>
    <td>{#empID}</td>
    <td bgcolor="#EEEEEE">經費來源</td>
    <td>{#source}</td>
  </tr>
  <tr class="evenTr" data-two-tr="1">
   <td bgcolor="#EEEEEE">補助月數</td>
    <td>{#monthNum}</td>
    <td bgcolor="#EEEEEE">每月金額</td>
    <td>{#monthPay}</td>
    <td bgcolor="#EEEEEE">備註</td>
    <td colspan="">{#notes}</td>
  </tr>
 
 <tr>
    <td colspan="16" align="center" bgcolor="#999999">
      <input type="button" value="關閉" onclick="window.close();" />
    </td>
  </tr>
</table>

