
<h3 style="margin-bottom: 10px;">經費來源-修改</h3>
<table id="newTable" width="100%" border="0" cellpadding="4" cellspacing="0">
  <tr class="oddTr" data-one-tr="1">
    <td rowspan="2">{#id}.</td>
    <td bgcolor="#EEEEEE">子計畫</td>
    <td>{#fid}{#sid}</td>
    <td bgcolor="#EEEEEE">姓名</td>
    <td>{#empID}<br>{#noEmp}{#_noEmp}新聘人員</td>
    <td bgcolor="#EEEEEE">經費來源</td>
    <td>{#source}</td>
  </tr>
  <tr class="evenTr" data-two-tr="1">
   <td bgcolor="#EEEEEE">補助月數</td>
    <td>{#monthNum}</td>
    <td bgcolor="#EEEEEE">每月金額</td>
    <td>{#monthPay}</td>
    <td bgcolor="#EEEEEE">備註</td>
    <td colspan="">{#notes}</td>
  </tr>
 
 <tr>
    <td colspan="16" align="center" bgcolor="#999999">
      <input type="submit" id="Submit" value="送出" />
      <input type="reset" id="Reset" value="重設" />
      <input type="button" value="取消" onclick="window.close();" />
    </td>
  </tr>
</table>

<script type="text/javascript">
  $(function(){
    $('[name="_noEmp"]').attr('disabled','disabled');
    if($('[name="noEmp"]').val() == 1) {
      $('[name="_noEmp"]').attr('checked','checked');
      $('[name="rate"]').attr('disabled','disabled');
    }
  })
</script>

