@charset "utf-8";
.sTable	{
	font-size: 9pt;
	font-family: "新細明體", Verdana;
	border: 1px solid #000000;
}

.input	{
	font-size: 12px;
	color: #000000;
	padding-top: 2px;
	border-style:solid;
	border-width:1px;
	border-color:#666666;
	background-color: #FFFFEC;
}

.btn	{
	font-size: 10pt;
	color: #336699;
	padding: 2px 2px 2px 2px;
	border-style:solid;
	border-width:1px;
	border-color:#FFFFFF #000000 #000000 #FFFFFF;
	background-color: #C0C0C0;
}
.btn2	{
	font-size: 10pt;
	color: #800000;
	padding: 2px 2px 2px 2px;
	border-style:solid;
	border-width:1px;
	border-color:#FFFFFF #000000 #000000 #FFFFFF;
	background-color: #C0C0C0;
}

.page	{
	background-color: #F8F8F8;
}

.rowHead	{
	font-family: "新細明體", Verdana;
	font-size: 13px;
	color: #FFFFFF;
	background-color: #000040;
	line-height: 20px;
}

.colLabel	{
	background-color: #F0F0F0;
}

.colLabel_Hidden {
	background-color: #F0F0F0;
	display: none;
}

.rowSubmit	{
	background-color: #BBBBBB;
	margin: 1px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
	border-top-color: #666666;
	border-right-color: #CCCCCC;
}
body { margin: 0px; }
form { margin: 0px; }